[2016-02-09 21:00] allendav opened #1 "Fix PHP notices in PayPal reference implementation"
- [x] on /wp-admin/plugins.php?plugin_status=all&paged=1&s

[code]
- [x] on wp-admin/admin.php?page=wc-settings&tab=checkout&section=paypal_express_checkout_gateway

[code]
- [x] checkout with PayPal

[code]
- [x] on cart page

[code]

[2016-02-09 21:03] allendav opened #2 "Replace with built in for WC version"
https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/master/woocommerce-gateway-paypal-express-checkout.php#L56

[2016-02-09 21:05] allendav opened #3 "Fix tabs and whitespacing throughout the project"

[2016-02-09 21:06] allendav opened #4 "Refactor woocommerce-gateway-paypal-express-checkout.php functions in a loader class"

[2016-02-09 21:07] allendav opened #5 "Get rid of lambdas, as they are not supported in PHP 5.2.4"
e.g. https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/master/class-paypal-gateway.php#L49

[2016-02-09 21:09] allendav opened #6 "Add "minibrowser" Integrated PayPal signup"

[2016-02-09 21:10] allendav opened #7 "Add "regular" PayPal Signup"
Implement Integrated PayPal Signup (IPS)

[2016-02-09 21:11] allendav opened #8 "Remove Order support"

[2016-02-09 21:12] allendav opened #9 "[P2][4.1] Add billing agreement / subscriptions support"
per sections 11.9, 12.3 and 12.4 of the requirements doc

[2016-02-09 23:47] allendav opened #10 "Output escaping missing throughout the plugin"
in PHP and in inline-js, e.g. https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/3d0dec201fc81fef5965183dbf47ba7f91347242/content/admin/settings.php#L98

[2016-02-09 23:58] allendav opened #11 "Use wp_safe_redirect instead of header + exit"
e.g. here and other places: https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/3d0dec201fc81fef5965183dbf47ba7f91347242/woocommerce-gateway-paypal-express-checkout.php#L267

[2016-02-16 20:47] allendav opened #12 "PHP notice in checkout"
[code]

[2016-02-16 23:04] allendav opened #13 "A couple moar PHP 5.2/5.4 issues"

[2016-02-16 23:07] allendav opened #14 "Make sure integrated signup is NOT used for selected countries"
From the February 10th call - according to Ekta A., we should not use integrated signup if the store has a base location of Japan, Brazil or India.

[2016-02-16 23:08] allendav opened #15 "Make sure the PayPal Credit button is displayed for US only"
Not clear if they mean for US merchants only or for US customers only.  We should clarify.

More details expected from Ekta A or Matt C on February 17th call.

cc @mattyza @gedex

[2016-02-16 23:17] allendav opened #16 "loadFromGetECResponse not found in class PayPal_Checkout_Payment_Item_Physical_Details"
<img width="640" alt="screen shot 2016-02-09 at 4 49 10 pm" src="https://cloud.githubusercontent.com/assets/1595739/13094568/5642158a-d4c0-11e5-8a6c-63b3d46e3197.png">

[2016-02-16 23:19] allendav opened #17 "Launch middleware on one of our servers and update the URL in the plugin"
And then update this URL:  https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/3d0dec201fc81fef5965183dbf47ba7f91347242/class-paypal-gateway.php#L310

[2016-03-04 17:35] #1 closed, assigned to nobody

[2016-03-04 17:47] #3 closed, assigned to nobody

[2016-03-09 23:59] #4 closed, assigned to nobody

[2016-03-10 01:40] #11 closed, assigned to nobody

[2016-03-10 01:59] #2 closed, assigned to nobody

[2016-03-10 02:13] #5 closed, assigned to nobody

[2016-03-10 04:27] gedex opened #23 "Use wp_remote_post instead of curl_* functions"
- [x] Remote request to the IPS service to get merchant ID &mdash; [includes/class-wc-gateway-ppec.php](https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gateway-ppec.php#L311-L318).
- [x] Remote request to the IPS service to get merchant ID &mdash; [includes/class-wc-gateway-ppec.php](https://github.com/woothemes/woocommerce-gateway-paypal-expr

[2016-03-10 12:55] dwainm opened #25 "filter name should conform to the same standard"

[2016-03-10 13:56] dwainm opened #27 "remove global global $ppec; reference and code"
This was imply added to avoid the code breaking while we are refactoring

[2016-03-16 04:52] gedex opened #35 "Provide useful links to settings, doc, and support in plugins list page"

[2016-03-16 06:45] #35 closed, assigned to nobody

[2016-03-16 07:08] gedex opened #37 "Replace text domain 'woo_pp' with the plugin slug string"

[2016-03-16 07:16] #37 closed, assigned to nobody

[2016-03-16 13:29] gedex opened #39 "Hides PayPal Credit section in checkout tab"

[2016-03-18 09:58] gedex opened #40 "Support for get_transaction_url in gateway classes"

[2016-03-18 10:06] #40 closed, assigned to gedex

[2016-03-21 05:20] #12 closed, assigned to nobody

[2016-03-21 05:20] #13 closed, assigned to gedex

[2016-03-21 05:27] gedex opened #42 "Fatal error when start EC from checkout page"
[code]

[2016-03-21 06:12] #42 closed, assigned to gedex

[2016-03-21 06:15] #27 closed, assigned to nobody

[2016-03-21 06:16] #39 closed, assigned to nobody

[2016-03-21 06:16] #16 closed, assigned to nobody

[2016-03-21 06:29] #8 closed, assigned to gedex

[2016-03-21 06:35] gedex opened #45 "Separate IPS (Integrated PayPal Signup) handler into its own class handler"

[2016-03-21 12:15] #45 closed, assigned to gedex

[2016-03-21 12:53] #10 closed, assigned to nobody

[2016-03-21 18:06] #25 closed, assigned to nobody

[2016-03-21 18:07] #23 closed, assigned to gedex

[2016-03-22 06:00] gedex opened #48 "Shipping address is currently not being passed in the implementation"
This is very important as otherwise merchant will not have SPP (seller price protection).

[2016-03-22 06:01] gedex opened #49 "Make sure content of the cart localized based on the region the merchant is coming from"
Though "content of the cart" is not descriptive enough, followings are list from PP side that should be localized:
- [x] PP buttons -- https://developer.paypal.com/docs/classic/express-checkout/in-context/integration/#api-overview

[2016-03-22 06:08] gedex opened #50 "[P2][4.3] Add PayPal Credit only for US"
PayPal Credit has been seen to increase merchant and buyer conversion rates, by giving them access to a very affordable additional line of credit at checkout itself.
## Details
- Provides option (checkbox) to enable PayPal Credit Second button show up on the shopping cart as well as the main checkout page.
- Display PayPal credit button on cart and checkout pages if enabled.

[2016-03-22 06:11] gedex opened #51 "Make sure in-context option be set to default “on” when plugin is activated"
In WooCommerce > Settings > Checkout > PayPal Express Checkout.

<img width="488" alt="screen shot 2016-03-22 at 1 09 38 pm" src="https://cloud.githubusercontent.com/assets/78313/13943484/6b5381ae-f02f-11e5-9ac1-24a20e6c8221.png">

[2016-03-22 06:12] gedex opened #52 "Make sure PayPal guest checkout be set to “on” by default when plugin is activated"
WooCommerce > Settings > Checkout > PayPal Express Checkout :

<img width="581" alt="screen shot 2016-03-22 at 1 11 48 pm" src="https://cloud.githubusercontent.com/assets/78313/13943519/adf0051e-f02f-11e5-8b4d-f3a9f1c695d1.png">

[2016-03-22 06:22] gedex opened #53 "[P2][4.5] Support EC button in the mini-cart widget"

[2016-03-22 08:09] gedex opened #54 "When base location of the store doesn't support IPS, hides Easy Signup and show credential fields"

[2016-03-22 08:10] gedex opened #55 "When base location of store supports IPS, show Easy Signup and hides credential fields"
Related to #54

[2016-03-22 08:11] gedex opened #56 "Shipping/Tax information is sent to Paypal in the Skyverge plugin, do we need to do it here?"

[2016-03-22 08:13] gedex opened #57 "Add Capture action in edit order when payment type is set to Authorization"
![capture-action](https://cloud.githubusercontent.com/assets/78313/13945527/a62ab566-f040-11e5-9271-c1159dcce01c.png)

[2016-03-22 10:25] #15 closed, assigned to gedex

[2016-03-22 13:13] #14 closed, assigned to gedex

[2016-03-22 13:13] #54 closed, assigned to gedex

[2016-03-22 13:13] #55 closed, assigned to gedex

[2016-03-23 09:43] gedex opened #60 "In-context is not working when you click on the PayPal button from checkout page"

[2016-03-23 09:44] gedex opened #61 "Make sure BN code is being passed"

[2016-03-23 09:45] gedex opened #62 "Gateway title for PPEC should be "PayPal" not "PayPal Express Checkout""

[2016-03-23 09:50] #62 closed, assigned to gedex

[2016-03-23 09:52] gedex opened #64 "If Billing Address is not required as in settings, then billing address fields should not be displayed in checkout page"

[2016-03-23 09:56] gedex opened #65 "Enable seller protection by making sure that the shipping address used by WC is the same as in PayPal wallet"
This can be done if Woo makes the getECCall both when we click on the Express Short cut and the Express checkout “Mark flow”, and then uses the shipping address returned as a part of the get EC command.

WC is doing so for when Express Checkout shortcut is clicked, but not for mark.

[2016-03-23 09:57] gedex opened #66 "PayPal Brand Name customization"
Details to be provided by PayPal.

[2016-03-23 10:06] #51 closed, assigned to gedex

[2016-03-23 10:21] #52 closed, assigned to gedex

[2016-03-23 12:22] #49 closed, assigned to nobody

[2016-03-23 15:19] #61 closed, assigned to gedex

[2016-03-23 17:01] #66 closed, assigned to nobody

[2016-03-23 22:44] roykho opened #73 "Billing address not populated when returning from PP"
So after logging in to PP and confirm payment, it is redirected back to the checkout page.  At this point, the billing address should be filled by the information from the buyers PP account.  Otherwise it would defeat the purpose of `Express`.

[2016-03-24 05:36] #57 closed, assigned to roykho

[2016-03-24 12:54] #60 closed, assigned to gedex

[2016-03-24 14:37] gedex opened #74 "Support only "small" and "medium" button sizes until PayPal provide static assets for "tiny" and "large""
The reason for "large" to exclude if when in-context is enabled:

[code]

http://plnkr.co/edit/MiLqDJFWs24V1GjqHjO8?p=preview

[2016-03-24 16:14] #74 closed, assigned to gedex

[2016-03-24 16:51] #73 closed, assigned to nobody

[2016-03-25 05:00] gedex opened #77 "Hide Pay with PayPal Credit"
Will defer this until next release.

[2016-03-25 05:16] #77 closed, assigned to gedex

[2016-03-25 14:42] #64 closed, assigned to gedex

[2016-03-25 14:55] #48 closed, assigned to roykho

[2016-03-27 16:25] gedex opened #81 "Update outdated countries list that support IPS"
Current supported countries:

[code]

the updated ones based on middleman service from PayPal:

[code]

[2016-03-27 16:46] #81 closed, assigned to gedex

[2016-03-27 18:25] gedex opened #83 "Update the description of WC_Gateway_PPEC_With_PayPal"
Should be:

[code]

[2016-03-27 18:31] #83 closed, assigned to gedex

[2016-03-29 10:47] gedex opened #84 "Add logging mechanism"

[2016-03-29 12:49] #65 closed, assigned to gedex

[2016-03-30 08:46] #17 closed, assigned to nobody

[2016-03-30 08:47] #84 closed, assigned to gedex

[2016-03-31 16:45] gedex opened #87 "Make sure PayPal standard checkout settings is redirected to PPEC when PPEC is enabled"
Also give indicator on the `subsubsub` that PayPal standard is not available.

[2016-03-31 16:48] #87 closed, assigned to gedex

[2016-03-31 16:53] gedex opened #89 "Make sure PayPal standard is disabled on the checkout page if PPEC is enabled"

[2016-03-31 17:32] #89 closed, assigned to gedex

[2016-03-31 19:48] gedex opened #91 "Update readme.txt for beta (0.1.0)"
- [x]  Stable tag: 0.1.0
- [x] Update Description section
- [x] Update Installation section
- [x] Update screenshots section

[2016-03-31 19:49] gedex opened #92 "Update version main plugin file"
- [x] Update plugins header version to 0.1.0.
- [x] Make sure wording in plugin header is correct

[2016-03-31 20:07] #91 closed, assigned to gedex

[2016-03-31 20:10] #92 closed, assigned to nobody

[2016-04-03 15:17] gedex opened #93 "Checkout submission with an error causing In Context dialog keeps spinning"
Some other folks are telling me that if you go to the checkout page and enter some invalid information (e.g., leave ZIP code blank), choose PayPal, and click "Place order", the lightbox/pop-up appears, but never goes away.  I assume that your Ajax call is returning an error (b/c of the missing/invalid information); however, are you calling paypal.checkout.closeFlow() to kill the lightbox/pop-up wi

[2016-04-03 15:18] gedex opened #94 "Add cancel link in checkout page if PPEC session already set"
If you go through the shortcut button on the cart page, all other payment methods on the checkout page are hidden and only PayPal is shown.  However, if I exit out of the checkout (maybe go add something else to my cart) and then come back into the checkout, the other payment methods are still hidden.  We need some way to get those other payment methods to appear -- someone suggested a link there

[2016-04-03 18:24] gedex opened #95 "Notice when updating order"
Probably related to custom capture action.

[code]

[2016-04-03 19:17] #94 closed, assigned to gedex

[2016-04-03 19:54] #95 closed, assigned to gedex

[2016-04-04 08:33] #93 closed, assigned to nobody

[2016-04-11 09:46] gedex opened #99 "Unable to checkout from cart page if button is rendered inside cart form"
One of customer reported that when buyers clicked on the PayPal Checkout button (from the cart page), he sees the popup window open and then close. Theme used by customer is [kleo](seventhqueen.com/themes/kleo/)

[2016-04-27 13:58] gedex opened #102 "Error when certificate is used as credential"
Uploaded certificate and password should be used properly when certificate credential style is chosen.

[2016-04-27 15:32] gedex opened #103 "Make sure OpenSSL >=1.0.1 is used, otherwise display notices"

[2016-04-28 18:04] BFTrick opened #105 "Link to User Guide is Broken"
There used to be a docs page here but it no longer exists. For right now we should point to the [sales page](https://www.woothemes.com/products/woocommerce-gateway-paypal-express-checkout/) on WooThemes.com since it has more information for the user.

![woocommerce_paypal_express_checkout_payment_gateway_ _wordpress_plugins](https://cloud.githubusercontent.com/assets/1065372/14896073/3295d480-0d39

[2016-04-28 18:18] #105 closed, assigned to nobody

[2016-04-29 05:59] #102 closed, assigned to gedex

[2016-04-29 06:01] gedex opened #107 "Make sure cURL transport is available for WP HTTP API, otherwise display notices"
PPEC now depends on cURL when certificate-style is chosen.

[2016-05-02 09:40] #107 closed, assigned to gedex

[2016-05-02 10:09] #103 closed, assigned to gedex

[2016-05-04 10:43] gedex opened #110 "WP.org banners and icons"
Similar to https://github.com/woothemes/woocommerce-gateway-paypal-powered-by-braintree/issues/74.

/cc @jameskoster

[2016-05-04 14:22] #110 closed, assigned to nobody

[2016-05-09 09:37] gedex opened #112 "Admin notice to setup / connect after plugin activated"

[2016-05-09 12:00] gedex opened #113 "Use properties from WC() for help image url"
When WC directory is not `woocommerce`, the help icon won't be found. Example you download zip from `master` branch of WC with named file `woocommerce-master.zip`, the help icon will be broken like following:

<img width="514" alt="screen shot 2016-05-09 at 6 58 56 pm" src="https://cloud.githubusercontent.com/assets/78313/15112398/25c2f962-1618-11e6-9a19-08e96756fa14.png">

Currently it uses:

[co

[2016-05-09 12:07] gedex opened #114 "Make enabled option default to 'yes'"
Since this extension is promoted in setup wizard, we need to it default to enabled when user checked this gateway. With this, we could kick off admin notice in #112 by checking if access token exists or not when gateway is enabled.

[2016-05-09 13:38] #113 closed, assigned to gedex

[2016-05-09 14:15] gedex opened #116 "[WC 2.6] Settings link in plugins page shouldn't use lower case of plugin's class, use gateway id"
<img width="1505" alt="screen shot 2016-05-09 at 9 10 52 pm" src="https://cloud.githubusercontent.com/assets/78313/15115836/1055f878-162b-11e6-81f2-6287045f77b7.png">

[2016-05-09 14:31] #114 closed, assigned to gedex

[2016-05-10 07:41] #116 closed, assigned to gedex

[2016-05-14 02:01] mikeyarce opened #119 "Proceed to Checkout + PayPal checkout button showing up even when it's the only enabled Gateway"
If PayPal Express is the only enabled payment gateway, we should remove the Proceed to Checkout button from the cart:

![screen shot 2016-05-13 at 2 26 40 pm](https://cloud.githubusercontent.com/assets/3220162/15262365/bb250ed6-1916-11e6-96d6-33397da929cd.png)

The `Proceed to Checkout` button from WooCommerce just takes you to the Checkout page and adds an extra step where there really shouldn't

[2016-05-16 14:19] gedex opened #120 "Strip out HTML tags from item descriptions"

[2016-05-16 15:30] #120 closed, assigned to gedex

[2016-05-16 18:51] #112 closed, assigned to gedex

[2016-06-01 01:06] tommyshellberg opened #123 "Custom Logo Image URL not saved."
Tried with the following image URL:

https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_76x48.png

Image size fits the requirements and is an HTTPS link, but it's not saved once the settings page is updated.

http://cld.wthms.co/C3W3/4Sm4fDoL

[2016-06-01 22:49] gedex opened #124 "Round-off issue with shippable products"
Steps to reproduce:
1. Add any product with decimal point. Example: 9.95
2. Add shipping amount with decimal point. Example: 1.95
3. You can reproduce the error

In log, you should get "Tax total is invalid" or "Transaction is refused to because of an invalid argument."

[2016-06-02 00:21] #124 closed, assigned to gedex

[2016-06-02 00:34] #123 closed, assigned to gedex

[2016-06-09 10:19] tommyshellberg opened #128 "PPEC incompatible with cURL utilizing NSS"
A user is reporting that when cURL is set up to use NSS rather than OpenSSL, PPEC cannot connect via TLS. Here was his troubleshooting:

From the following ticket:

425450-zd-woothemes

[2016-06-13 04:23] gedex opened #129 "WC 2.6 Checkout button disappear after cart is updated (via AJAX)"

[2016-06-15 15:23] gedex opened #130 "Error on fresh install without credentials"
From https://github.com/woothemes/woocommerce/issues/11144.

and from Mike J:

[2016-06-15 17:23] gedex opened #131 "Add IPN handler"
There's an setting `pp_woo_ipnUrl` that's stored in option. This should be auto-determined like PayPal standard instead of exposed to merchant to decide and we could borrow the same response handler from PayPal standard handler.

Related ticket: 429146-zd-woothemes

[2016-06-16 00:33] WPprodigy opened #132 "[WC 2.6] Fatal error on cart/checkout"
[code]

The cart and checkout page get the white screen of death when this plugin is active on WooCommerce 2.6 (not even when just enabled as a gateway, happens when only active as a plugin as well).

@gedex

[2016-06-16 16:03] #130 closed, assigned to nobody

[2016-06-16 16:03] #132 closed, assigned to gedex

[2016-06-16 16:08] gedex opened #134 "Wrong section slug / tab after redirected from connect.woocommerce.com"

[2016-06-16 16:21] #128 closed, assigned to gedex

[2016-06-16 18:04] #134 closed, assigned to gedex

[2016-06-23 12:03] spraveenitpro opened #137 "PayPal Checkout button disappears from Cart page when choosing Shipping method"
**Explanation**

PayPal Checkout button disappears from Cart page when choosing Shipping method:

**Demo**

![](http://cld.wthms.co/LAIM/2EDs9KSk+)

zd-woothemes-431833

@tommyshellberg @slash1andy @stevetested @seanreloaded @BFTrick @gedex

[2016-06-28 10:02] gedex opened #138 "Return error code from API in error message presented to user"
A good use case why this might come handy: https://wordpress.org/support/topic/an-error-occured-while-processing-your-paypal-payment?replies=6

[2016-06-28 10:03] gedex opened #139 "If no country code being passed, fallback to base country"
Example use case: https://wordpress.org/support/topic/an-error-occured-while-processing-your-paypal-payment?replies=6

[2016-07-01 00:01] mdmoore opened #140 "Pay for pending order error with In-Context Checkout"
When In-Context checkout is enabled, paying for a pending order doesn't work.  I don't see an error code, but Firefox presents a page saying "Corrupted Content Error".

**To Reproduce**
1. Enable In-Context Checkout in the PPEC settings
2. Checkout with PayPal Express Checkout but don't pay - This creates a pending order
3. Visit the My Account > Orders page and select Pay
4. Choose PayPal Express

[2016-07-04 18:58] gedex opened #142 "Make sure error strings in checkout are translatable"
For example

<img width="816" alt="screen shot 2016-07-05 at 1 56 38 am" src="https://cloud.githubusercontent.com/assets/78313/16568398/f4e16bfe-4253-11e6-8c53-8623ddff2232.png">

is not translatable. All strings for such errors are defined in https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gateway-ppec-api-error.php

[2016-07-04 18:59] #138 closed, assigned to gedex

[2016-07-04 19:50] #137 closed, assigned to nobody

[2016-07-04 21:44] #139 closed, assigned to nobody

[2016-07-04 21:44] #142 closed, assigned to gedex

[2016-07-22 07:57] spraveenitpro opened #145 "Inventory being reduced twice when paying with PayPal express checkout"
## Steps to Reproduce
1. Add one simple product which is inventory enabled to the cart and checkout while paying with PayPal express payment method.
2. Now open the newly arrived order from **WooCommerce >> Orders** which should be in `Processing` status.
3. Observe the order notes and you will find 2 instances of Inventory reduction: ![](http://cld.wthms.co/1cio7/3o7FCdm5+)
## Related Ticket

zd-

[2016-07-28 12:41] #99 closed, assigned to gedex

[2016-07-28 12:42] #6 closed, assigned to nobody

[2016-07-28 13:20] #129 closed, assigned to gedex

[2016-07-28 13:20] #145 closed, assigned to nobody

[2016-07-28 14:12] #7 closed, assigned to nobody

[2016-07-28 14:14] mikejolley opened #147 "Is shipping forced?"
Investigate  The most glaring current problem is the requirement to collect a shipment address, which is not how our site functions.

[2016-07-28 14:31] mikejolley opened #148 "User reports errors in class-wc-gateway-ppec-checkout-details.php"

[2016-07-28 14:31] mikejolley opened #149 "Add invoice prefix option like PayPal Standard in core"

[2016-07-28 15:53] #140 closed, assigned to gedex

[2016-07-28 15:57] #148 closed, assigned to gedex

[2016-07-28 16:14] gedex opened #153 "Change the way Easy Setup button is displayed after creds were successfully retrieved"
Currently, the button stays the same even after creds successfully retrieved. Users might think it's not properly set up. The button could be changed to text saying creds are successfully added and add a link to re-setup again.

[2016-07-28 16:25] mikejolley opened #154 ""capture charge" action is always shown."
In the order actions, this item is always there even if the charge is already captured or not applicable.

[2016-07-29 14:16] #119 closed, assigned to nobody

[2016-07-29 18:23] #147 closed, assigned to nobody

[2016-07-29 18:27] #149 closed, assigned to nobody

[2016-07-29 18:27] #153 closed, assigned to gedex

[2016-07-31 13:04] WillBrubaker opened #157 "Available as a payment option for subscriptions"
PayPal express doesn't support automatic recurring payments (at least it's not listed here: https://docs.woocommerce.com/document/subscriptions/payment-gateways/)

However, with a subscription product in the cart, PayPal express checkout is still listed as an option on the cart page:
![see screen shot](http://cld.wthms.co/Hdx9/1B7COFRX+)

ticket: #446997-zd-woothemes

@gedex

[2016-08-01 19:19] WillBrubaker opened #158 "conflict with Subscriptions & PayPal standard"
ticket: #446997-zd-woothemes

Under the following conditions:
1. Subscriptions is installed and active
2. PayPal express checkout is installed and active
3. PayPal standard gateway is enabled
4. No other payment methods are enabled

If a subscription product is in the cart, customer is met with a message at checkout

which is incorrect since PayPal standard does support subscriptions.

Disabling P

[2016-08-02 16:50] gedex opened #159 "Use custom confirmation page after returned from PayPal"
The endpoint for this could be: `/checkout/paypal-confirmation` and it should displays minimal info because some info already retrieved from API call.

[2016-08-02 21:19] #154 closed, assigned to nobody

[2016-08-02 22:54] #158 closed, assigned to nobody

[2016-08-02 22:57] #159 closed, assigned to nobody

[2016-08-02 22:57] #157 closed, assigned to nobody

[2016-08-02 22:59] #56 closed, assigned to nobody

[2016-08-09 01:55] gedex opened #161 "Button size is not converted"
Previously button size is set to 'medium', but set to `false` after upgraded causing wrong button URL:

<img width="375" alt="screen shot 2016-08-09 at 8 49 42 am" src="https://cloud.githubusercontent.com/assets/78313/17502055/00958e7c-5e0f-11e6-9e97-601a795b8090.png">

The URL:

[code]

[2016-08-09 02:52] #161 closed, assigned to gedex

[2016-08-09 12:45] gedex opened #163 "Fatal Error for PHP prior 5.5 caused by passing method call in empty"
Quoting from [PHP doc](http://us3.php.net/empty):

[code]

Line that calls a method inside empty:
- [ ] https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/master/includes/abstracts/abstract-wc-gateway-ppec.php#L231
- [ ] https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/master/includes/abstracts/abstract-wc-gateway-ppec.php#L233
- [ ] https://

[2016-08-09 14:12] #163 closed, assigned to gedex

[2016-08-16 16:18] mdmoore opened #165 "PayPal Guest Payments option is disabled"
PayPal Guest Payments are now incorrectly disabled by default. The conditional [here](https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/11cafbab51101e10bf8491893c55019467f6d728/includes/class-wc-gateway-ppec-settings.php#L117) needs to check against `true` rather than `false`.  This will allow the filter to disable guest payments when needed.

@gedex

[2016-08-17 11:24] #165 closed

[2016-08-17 13:50] danieldudzic commented on #131
@gedex What are the plans regarding this? Will this be addressed in the near future?

[2016-08-20 19:24] #131 closed

[2016-08-20 19:33] gedex opened #169 "Enable Translations"
Missing `load_plugin_textdomain` call.

[2016-08-20 20:45] #169 closed

[2016-08-21 16:43] mikejolley opened #171 "Description needs to be truncated"
https://wordpress.org/support/topic/blank-modal-window?replies=6

Field: L_PAYMENTREQUEST_0_DESC0

[2016-08-29 12:20] gedex commented on #171
Looking at the support forum, the truncation warning is not related to blank window. I could reproduce the blank modal window even without truncation warning.

[2016-08-30 00:00] jkohlbach opened #172 "When guest checkout disabled user is returned to checkout with an error prompt to fill in password field"
IF you have the Guest checkout disabled in WooCommerce settings and the user logs into PayPal via the paypal express button on the Cart page, it will drop the user to the checkout page on return complaining that the password field was not set.

https://snag.gy/0jYkHy.jpg

[2016-08-30 00:02] jkohlbach opened #173 "Feature: Option to disable checkout with PayPal button on Cart page"
On some sites the cart page is finely tuned to funnel users through to the checkout process via the existing Proceed To Checkout button.

In these cases it might be desirable to disable the checkout with PayPal button on the Cart page altogether since you can still use PayPal express quite effectively from the Checkout page.

[2016-08-30 00:09] jkohlbach commented on #172
Forgot to mention also that automatic generation of user password is turned OFF in this instance.

[2016-09-01 10:37] slaFFik opened #174 "PHP7 compatibility"
We ran a `php7cc` tool and found this:

[code]

Can you please check, that it doesn't produce any issues?

[2016-09-01 12:11] gedex commented on #174
@slaFFik Thanks for the report. We'll take a look.

[2016-09-02 18:02] slash1andy opened #175 "Custom fields are not able to be filled in when using PP Express"
Once you select PP Express, go login, etc., then you are unable to fill in/manipulate the custom fields added in via hooks, or a plugin such as https://woocommerce.com/products/woocommerce-checkout-field-editor/

If the field is required, it makes checkout impossible, and if it's not required, it still means the customer misses the fields.

Re: https://wordpress.org/support/topic/express-checkout-

[2016-09-06 15:24] mdmoore opened #176 "PayPal Guest Payments option is disabled on checkout page"
#165 enabled PayPal Guest checkout by default on the cart page, but the checkout page still exhibits the old behavior.

[2016-09-08 10:11] corsonr opened #178 "[P2][4.2] Add filter to be able to change the PayPal logo on the cart page"
The logo on the cart page is in always English, adding a filter would allow to change it according to the site language at line https://github.com/woothemes/woocommerce-gateway-paypal-express-checkout/blob/11cafbab51101e10bf8491893c55019467f6d728/includes/class-wc-gateway-ppec-cart-handler.php#L79

[2016-09-13 10:41] toddheslin commented on #175
I've got this same issue. Let me know if I can be useful in providing a use-case or debugging. At the moment we have had to turn of the custom field 'Delivery instructions' where the customer nominates to 'leave at front door' or 'signature on delivery'. We can't make it compulsory because it's not showing up for Paypal transactions, however most customers leave it blank meaning that their deliver

[2016-09-16 18:32] dwainm opened #179 "No shipment costs by paying with this method"
https://wordpress.org/support/topic/problem-with-shipment-costs-not-shipment-costs-by-paying-with-paypal-express/page/2/#post-8164524

[2016-09-20 23:28] mikejolley commented on #179
@dwainm was there a fix for this?

[2016-09-28 11:44] dwainm commented on #179
@mikejolley solution here seems to be not allowing users the use express checkout on the cart page for items that require shipping. I'm not finding a way for this extension to hook into the process and add the shipping details we get from PayPal to `WC()->customer`. The global customer is also used as the main point for figuring out shipping.  What are your thoughts on this?

[2016-09-28 14:03] 6-3-N opened #180 "Loading animation to cover the cart page after the user has logged into PayPal"
From the Cart page, after logging into PayPal with the mini browser popup and continuing, the PayPal window closes and the user sees the Cart page again until being redirected to the Order Confirmation page. The Cart page is visible for a good few seconds, and potentially a lot longer if on a slow mobile network, for example.

So, it would be good to have the loading animation and mask cover the C

[2016-09-29 08:32] dwainm commented on #171
Seems like an issue with the PayPal iFrame. Can't find anything we can change in the plugin to prevent this yet.

This occurs only when a user has already been authenticated through PayPal and then aborts or visits the cart page again.

[2016-09-29 13:40] dwainm commented on #171
This bug doesn't seem to be on our side.

I find that `window.open` works when a user is not logged, but when logged a new window is not created. This must be intended behaviour but I'm not quite sure what else is expected here.

The other issue that came up seems to be more common so I'll send out 1.1.3 today.

[2016-09-30 15:19] FreshPhil opened #183 "Sales tax not updating correctly."
WooCommerce PayPal Express Checkout Gateway - Version 1.1.2
WooCommerce - Version 2.6.4
- Default Customer Location `Shop base address`
- Set your store with a tax local to your base location (eg. Ohio state tax)
- Calculate Tax Based On `Customer Shipping Address`

Add items to your cart, then click the yellow "Checkout with PayPal" button. In the PayPal checkout window select a shipping address

[2016-09-30 15:40] FreshPhil opened #184 "Cannot load checkout window after cancelling first payment"
WooCommerce PayPal Express Checkout Gateway - Version 1.1.2
WooCommerce - Version 2.6.4
- Add items to cart and checkout using the yellow "Checkout with Paypal" button
- On the Paypal checkout screen, cancel the checkout process
- Once back on the cart, click the Paypal checkout button again

**Expected**
The Paypal checkout screen comes up a second time and allows you to checkout

**Actual**
The

[2016-10-03 03:15] jkohlbach commented on #172
Any movement on this yet? It's really quite a bad problem.

[2016-10-03 03:31] gedex commented on #172
I'm looking into this. What's PPEC and WooCommerce versions you're using?

[2016-10-03 22:10] jkohlbach commented on #172
Latest of both: 4.6.1 and 2.6.4 respectively.

Thanks for getting onto it.

Based on reports from customers it mainly happens when clicking the button from the Cart page, it then comes back to the Checkout with that error and the password field is missing resulting in an inability to order.

[2016-10-03 22:16] jkohlbach commented on #172
Sorry just re-read the comment, I thought you asked for the WP version *doh*

PPEC version is 1.1.2

[2016-10-06 12:42] #176 closed

[2016-10-06 12:48] dwainm commented on #172
@gedex  @jkohlbach  with guest checkout enabled by default: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/177 .  How is this issue affected?

[2016-10-06 14:43] gedex commented on #172
@jkohlbach could try by pulling `master` branch and see if it fixes the issue?

[2016-10-10 10:54] mikejolley commented on #179
@dwainm I don't follow. This isn't needed - the shipping options display when you get back from PayPal. The whole point of express is to bypass our checkout + billing details. This is what I thought the user was reporting as the fault; no methods on return.

cc @roykho

[2016-10-10 16:42] dwainm commented on #179
@mikejolley Ther reason fo this is that the user doesn't come back to the checkout page where shipping can be calculated but rather the order review page. This why I thought to only alow carts without the need for shipping to checkout from the cart page.

The only other solution I see is if we embed the shipping calculation on the order review page and recreate the cart object to create the same s

[2016-10-10 16:46] roykho commented on #179
@dwainm - actually the original design was that they are suppose to see shipping options AFTER they come back from PP and in my test, they do see this when logged in. As guest however, it is intermittent where in my test sometimes they see it sometimes they don't. We need to re-open this.

[2016-10-10 16:57] dwainm commented on #179
Ok if it worked like this before then there must be a fix.

[2016-10-13 08:55] kopiro opened #187 "Shipping address is overwritten, but why?"
https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gateway-ppec-checkout-handler.php#L217

Here, the shipping address is overwritten by the Paypal response.
The main question is, why?

If we set the `ADDROVERRIDE` param to `true` (as is), we can discard the address returned by Paypal.

https://github.com/woocommerce/woocommerce-gateway-paypal-e

[2016-10-16 13:11] apprique opened #188 "User cannot checkout if creating/having account is marked as required in WooCommerce settings"
When a user chooses to checkout with PayPal express  the billing/shipment screen is skipped and therefore the user cannot enter a password. When user finishes checkout after returning back from PayPal to the website, WooCommerce reports that the Password field needs to be filled in. However that field is not visible in that screen. Hence the user is stuck and cannot finish checkout.

[2016-10-16 13:11] #188 closed

[2016-10-16 13:12] apprique commented on #188
Sorry, duplicate

[2016-10-18 17:56] dwainm commented on #187
Hi @kopiro

Please see discussions on #190 . With how the PayPal Express checkout extension works with WooCommerce, we do not require users to be logged in so we have no guaranteed address when confirming the order. This is the most common case for this plugin.

If you would like to use shipping details in the users WordPress account you should use one of the other PayPal options which we suggest

[2016-10-18 17:59] dwainm commented on #187
Some options for you to consider:
https://woocommerce.com/products/woocommerce-gateway-paypal-powered-by-braintree/
https://woocommerce.com/products/paypal-advanced/

[2016-10-19 13:49] kopiro commented on #187
Understood.
But, there is a little "bug" that is very hard to find, and of course it was my case.

I had a "custom checkout field" called "company", but you overwrite it :)

https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gateway-ppec-checkout-handler.php#L148

I deleted that row, and everything fine, but maybe you can call it in another way

[2016-10-19 13:49] #187 closed

[2016-10-20 17:31] dwainm commented on #187
@kopiro renaming the field would require a refactor in other places as well so not something we'd prefer to do now.

[2016-10-24 06:27] gedex opened #192 "Adjust nag notification on 'PayPal Express Checkout' plugin"
Originally reported by @simonrcodrington.

Hey guys,

When you run the Woocommerce setup and you choose to add your payment gateways. The '**WooCommerce PayPal Express Checkout Gateway**' plugin adds an undismissable nag notification saying "**PayPal Express Checkout is almost ready. To get started, connect your PayPal account.**" so long as the plugin is installed.

![paypal_woocommerce_nag](http

[2016-10-24 23:17] gedex opened #193 "[P2][4.2] Added more translations for this plugin"

[2016-10-24 23:18] gedex commented on #193
Maybe related to #178

[2016-10-25 01:19] gedex opened #194 "[P2][4.4] Add EC button on the product page"
This enables the merchant to do a one-click checkout from the product page. This is available in the other competitive plugins as well.
## Details
- On gateway setting, provides option (checkbox) to enable this
- On single product page, render the EC button below add to cart secion

[2016-10-25 01:23] gedex commented on #53
Reopening this as part of phase 2. In case WC < 2.7, a workaround need to be supplied.

[2016-10-25 01:32] gedex opened #195 "[P2][4.6] Ability to configure what users see as the brand/company name on PayPal review page"
Allows a merchant to display their BRAND, which builds confidence and reduces cart abandonment.
## Details
- Provides option (input text) in gateway setting to set the brand name
- Display the brand name in PayPal review page

[2016-10-25 01:53] gedex opened #196 "[P2][4.7] Add logo and/or header URL options for PayPal Review Page"
Aside being able to put in brand name, see #195, the merchant might want to upload a logo, and or put in a header for the Paypal review Pages.

## Details
- Add two options to specify URLs for logo (`LOGOIMG`) and header (`HDRIMG`).
- Pass `LOGOIMG` and `HDRIMG` to [SetExpressCheckout](https://developer.paypal.com/docs/classic/api/merchant/SetExpressCheckout_API_Operation_NVP/)

## Settings UI

<i

[2016-10-25 01:59] gedex opened #197 "[P2][4.8] Makes EC shortcut button in cart page optional"
Currently the button appears by default. Merchants want it to be configurable. We need the button to be configurable, and enabled by default in the gateway setting.
## Detail
- Provides option (checkbox) to display EC button on cart page. Enabled by default
- If enabled display EC button on cart page, otherwise don't display EC button on cart page.

Might be dupe of #173

[2016-10-25 02:18] gedex opened #198 "[P2][4.9] Update the messaging (default gateway description) for PayPal Button on checkout"
Change from:

to:

## References
- https://wordpress.org/support/topic/feature-request-customize-description-test/

[2016-10-25 02:32] gedex opened #199 "[P2][4.10] Allow merchant to specify a certain page style via PayPal's Custom Payment Pages"
## Detail
- Provides option (input text) in gateway setting for merchant to enter page's style name.
- See how PayPal standard supplies it via arg in https://github.com/woocommerce/woocommerce/blob/2.6.4/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php#L76.

## Settings UI

<img width="607" alt="screen shot 2016-11-02 at 11 56 54 am" src="https://cloud.githubusercontent.com/as

[2016-10-25 05:36] gedex opened #200 "[P2][4.11] Configurable option to land buyer to PayPal checkout "Pay with Credit/debit card""
Type of PayPal Page to display as default. PayPal account must be checked for this option to be used. The buyer is directly taken to guest checkout, with the option to fill their credit card data for checkout.
## Detail
- Provides option (select with options: Login and Billing) in gateway setting.

[2016-10-26 16:10] #179 closed

[2016-10-27 10:13] gedex commented on #9
Note from the meeting: Use reference transaction instead of billing feature from PayPal.

[2016-10-27 10:14] gedex commented on #197
Hold this for now.

[2016-10-27 10:16] gedex commented on #193
Prioritized languages: France, Italy, Spain, Netherlands, Belgium, Luxembourg, Sweden, Norway, Denmark.

[2016-11-01 11:36] gedex opened #201 "Add link to reset current credentials to allow reconnection"
Currently merchant needs to empty current credentials to be able to reconnect.

[2016-11-01 18:41] gedex opened #205 "[P2][4.7] Add ability to select existing / upload new image(s) for logo / header fields from media manager"
Needs #196 resolved first.

[2016-11-02 05:10] gedex commented on #175
Adding more steps for buyer to fill fields beats the purpose of "express" checkout. We can provide compatibilities with well known extensions (best if it's under our control). Extensions to consider to be supported may includes:

* CFE as @slash1andy suggested.

@toddheslin Do you use CFE too for delivery instruction?

[2016-11-02 05:52] toddheslin commented on #175
I use WooCommerce Checkout Manager. Thanks @gedex

[2016-11-02 05:59] mattyza commented on #53
Closing this out, as this should be considered on a per-theme basis. PayPal and I agreed that this isn't relevant for this extension.

[2016-11-02 05:59] #53 closed

[2016-11-02 07:45] #201 closed

[2016-11-02 08:23] #195 closed

[2016-11-02 08:23] #196 closed

[2016-11-02 08:23] #198 closed

[2016-11-02 08:23] #200 closed

[2016-11-02 08:26] #199 closed

[2016-11-03 09:07] gedex opened #207 "Removes code for parallel payment details support (always use n=0)"
This extension only uses a single payment detail for each order, so no need to specify bucket of payment details or parallel payments. In short, each request will only use one bucket -- `PAYMENTREQUEST_0_` and `L_PAYMENTREQUEST_0_`. This will simplify our codebase and unify parameters builder before each NVP request. Currently it's scattered and some are duplicated across classes.

/cc @mikejolley

[2016-11-03 11:17] gedex opened #208 "Add unified NVP params getters for EC-related calls"
Currently it's resides in checkout's handler, cart handler, and in settings wrapper. Since this is related to API call it's more appropriate to have the getter in client's class.

## Methods to expect

Signature would be: `get_{EC_method_name}_params`. For example there's `WC_Gateway_PPEC_Client::set_express_checkout` that does `SetExpressCheckout` call, then its parameters getter would be `WC_Gat

[2016-11-03 11:23] gedex opened #209 "Add response handler based on NVP method"
Currently `includes/class-wc-gateway-ppec-checkout-details.php` so many some classes that basically convert the response from `GetExpressCheckoutDetails` call. This can be simplified into one class that parses the response.

[2016-11-03 14:58] gedex commented on #50
@mikaey I assume we only need to pass `USERSELECTEDFUNDINGSOURCE` with value `CreditCard` in [`SetExpressCheckout`](https://developer.paypal.com/docs/classic/api/merchant/SetExpressCheckout_API_Operation_NVP/) call?

Previously (in which it was commented before initial release), field `USERSELECTEDFUNDINGSOURCE` was set to `Finance`. Not sure where this `Finance` comes from as I couldn't find it i

[2016-11-03 18:32] mikaey commented on #50
Nope, `Finance` is the correct value to pass.  If the buyer chooses to pay by PayPal Credit, you'd pass `USERSELECTEDFUNDINGSOURCE=Finance`; if the buyer just wants to pay by PayPal, you'd leave this parameter off altogether.  As far as I know, `CreditCard` is not a valid value for this field.

[2016-11-04 03:35] #50 closed

[2016-11-05 07:53] simonrcodrington commented on #192
Hey guys, just wanted to clarify that the issue is my mind was that even if you don't have the gateway "Enabled", so long as it's installed and activated the nag remains. Basically it seems strange that if the gateway hasn't been "checked" / turned on it still gives you a nag (You've chosen not to use it so until you do it shouldn't nag you).

Thanks guys

[2016-11-07 08:58] #207 closed

[2016-11-07 08:58] #208 closed

[2016-11-14 18:07] ryross opened #212 "When will 1.1.3 be released?"
We're having some trouble with the modal window being all white and would love to upgrade.

Thanks!

[2016-11-14 19:14] gedex commented on #212
@ryross next release will be 1.2.0 as it contains subscriptions support too. Can you checkout from `master` branch and verify if it fixes the issue?

[2016-11-18 17:15] meghanni commented on #175
I have the same issue and would really like this to be fixed. Is there a workaround?

[2016-11-21 13:05] gedex opened #214 "Client class is getting bigger, break request into its own class"
Related to #209.

[2016-11-21 14:35] #9 closed

[2016-11-22 09:26] gedex commented on #184
I believe this has been fixed in `master`, unable to reproduce. Please reopen if you're able to reproduce with `master`.

[2016-11-22 09:26] #184 closed

[2016-11-22 17:14] gedex opened #216 "Add settings, docs, and support links in plugin action links"

[2016-11-22 17:18] #178 closed

[2016-11-22 17:52] gedex commented on #174
Closing this as running `php7cc` against `master` doesn't produce any warnings.

[2016-11-22 17:52] #174 closed

[2016-11-23 07:23] #172 closed

[2016-11-23 11:02] gedex opened #218 "Fatal error when in checkout page"
PPEC hijacks checkout fields (removing them) with their read-only view. This involved get_checkout_details call that may throws exception. The rendered doesn't handle this causing:

[code]

[2016-11-23 11:05] gedex opened #219 "Minimize call to get_checkout_details"
In checkout page there's multiple calls of `get_checkout_details`. Especially in [`paypal_billing_details`](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gateway-ppec-checkout-handler.php#L93-L115) and [`paypal_shipping_details`](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gatewa

[2016-11-23 14:52] #183 closed

[2016-11-23 14:52] #219 closed

[2016-11-23 14:53] gedex commented on #183
@FreshPhil Fix in `master` already. Could you please verify?

[2016-11-24 05:02] #218 closed

[2016-11-24 13:29] gedex commented on #216
Closed by #222.

[2016-11-24 13:29] #216 closed

[2016-11-24 13:29] gedex commented on #193
Incorrect closing reference from PR.

[2016-11-24 15:22] FreshPhil commented on #183
Sorry for the delay @gedex - Tested and confirmed fixed. Thank you!

[2016-12-06 02:21] dominic-p opened #225 "Conflict with other Payment Gateways?"
I use Authorize.net DPM along with PayPal Express Checkout. My customers are complaining that when they try to checkout via Authorize.net (Credit Card), they get a PayPal error, specifically:

`PayPal error (10410): Your PayPal checkout session is invalid. Please check out again.`

I believe the issue comes [from here](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob

[2016-12-06 21:36] slash1andy opened #226 "PayPal doesn't adjust taxes based on actual taxes needed"
If you have the following settings in place, your customers will have taxes calculate for their order based on the shop base, bypassing their shipping address.

* Taxes all entered and displayed excluding taxes
* A tax rate for a state or a city that is the same as your shop base location
* Default customer location set to shop base location
* Calculate taxes based on customer shipping address

Th

[2016-12-07 16:26] FreshPhil commented on #226
As per #183 this seems to be fixed in master. Should be fixed for the next release?

[2016-12-07 16:27] gedex commented on #226
@slash1andy can you confirm with `master` branch?

[2016-12-12 17:09] allendav commented on #175
A ticket was opened 19 days ago for this as well - 496141-zd-woothemes - I've let the user know that this has been added to the 1.2.0 milestone - any ETA on that milestone @gedex ?

[2016-12-12 17:11] gedex commented on #175
No ETA yet @allendav, will updated here once we're ready to release.

[2016-12-17 20:37] cyrano198 opened #227 "Unable to create account on checkout page."
All of our orders require an account with our website, the registration for which is given in WooCommerce within the billing fields. Since this plugin overrides the display of those fields by removing and adding a custom hook to woocommerce_checkout_billing completely, my new users are unable to checkout.

[2016-12-17 20:45] roykho commented on #227
Unfortunately perhaps this is not the right plugin for you then because the "Express" means it bypasses all customer facing form fields for a faster checkout. Try using just the regular PayPal Standard that comes with WooCommerce core.

[2016-12-17 20:45] #227 closed

[2016-12-19 14:43] WillBrubaker opened #228 "PHP Fatal error: Call to undefined function wc_reduce_stock_levels()"
In live chat today, a user reports that they received notification from PayPal that the IPN was failing to deliver the message. The error log indicates this is most likely due to a fatal error resulting from the function call here: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/4a40b5fa3dd46588e80d56d0af33d1761ec22cdc/includes/abstracts/abstract-wc-gateway-ppec-pay

[2016-12-19 14:47] roykho commented on #228
@gedex - it appears that function no longer exists?

[2016-12-19 14:53] gedex commented on #228
@roykho looks like this function is not available in 2.6.x, but available in `master` branch or 2.7. I'll double check this, afaik the IPN handler was copied from PayPal standard IPN handler.

[2016-12-19 14:56] gedex commented on #228
So following should be used:

[code]

instead of:

[code]

[2016-12-19 15:08] gedex opened #229 "Implement End to End Tests"

[2016-12-19 17:01] #228 closed

[2017-01-12 02:07] #225 closed

[2017-01-16 18:48] FreshPhil opened #233 "[2.7] Customer address not passed to WooCommerce"
WooCommerce Version 2.7.0-beta-1
WooCommerce PayPal Express Checkout Gateway Version 1.1.3

Problem:
Customer address information is not being properly passed back to WooCommerce for their order.

Upon logging into their PayPal account, the customers address is properly shown:
![](http://cld.wthms.co/TuJC/3iLtKmPj+)
Image Link: http://cld.wthms.co/TuJC/3iLtKmPj

The address also appears on the fol

[2017-01-18 15:12] jtsternberg opened #234 "When using paypal button on cart page, user account credentials fields (Billing Details) are missing"
![](http://b.ustin.co/1bZ4V+)

When purchasing a membership product, after logging in/authorizing with paypal, I cannot complete order because the account information, including the password is required, but there is no where to enter new-account details (password, username, etc).

This is specifically when using the express button on the cart page (not when selecting as a gateway on the regular c

[2017-01-18 15:13] jtsternberg commented on #234
This seems similar/related to #233.

[2017-01-25 10:41] pawelkmpt commented on #179
This was not included in any release, right? I see last release is 1.1.2 from August 2016 and this was closed in October. When next release is planned? Is it safe to use master branch on production? Client is losing a lot of money on free shipping.

[2017-02-07 14:44] #212 closed

[2017-02-07 14:45] roykho commented on #226
Closing for now due to lack of activity. Please re-open if issue persists.

[2017-02-07 14:45] #226 closed

[2017-02-14 20:48] mdmoore opened #235 "Does not honor WooCommerce Selling/Shipping Locations"
With Selling Locations set to specific countries, customers from countries not in that list can still checkout.

**To reproduce**

1. Use Selling Locations similar to this:

![](http://cld.wthms.co/WTEk/5ToVLDYU+)
_Link to image_: http://cld.wthms.co/WTEk/5ToVLDYU

2. Setup a PayPal account using a country not in that list.
3. Checkout with PayPal Express Checkout and login using that PayPal accou

[2017-02-14 23:03] allendav commented on #175
Looking at this now

[2017-02-15 20:19] allendav commented on #233
Lots of goodies in the logs with this flow too:

[code]

[2017-02-15 20:22] allendav commented on #234
This seems related to #175 (admittedly not custom fields, but like that issue, after completing paypal's flow, you're unable to get to fields on the checkout form)

[2017-02-23 22:03] FreshPhil commented on #235
Another variation to this, is when using "Geolocate" or "Shop Base Address" as the **Default Customer Location**. In that situation, customers can click the Express Checkout button and purchase using PayPal accounts that return an address _not_ within the specific selling locations.
![](http://cld.wthms.co/ZCam/2R2RUzcH+)
Image Link: http://cld.wthms.co/ZCam/2R2RUzcH

[2017-02-24 17:27] #233 closed

[2017-03-07 12:21] pcaWeb opened #237 "Require Billing Address not holding state"
In the PayPal Express Checkout settings, the checkbox: Billing Addresses (require billing address) is not holding state following a click on the 'save changes' button.

After check the box and click save changes if attempt to move to another page, Chrome warns me of unsaved changes.

The reason I need to check this box is (like others have reported) international customers are not being charged th

[2017-03-14 14:30] pcaWeb commented on #237
Could I have a response to this?

[2017-03-15 16:27] pcaWeb commented on #235
Is there an update on progress with this bug please?

[2017-03-20 17:16] allendav commented on #235
Will look at this this week or next.

[2017-03-24 18:14] zandyring opened #239 "PayPal shipping details override the shipping details entered on the site"
If a customer has a different (or no) company address filled out on their PayPal account, that information is passed back to WooCommerce on checkout, and in both cases (different format/incorrect or no company address at PayPal) it wipes out the shipping details that the customer has added on the store and replaces them.

As an example, the billing column is as it was entered on the site, and the

[2017-03-24 18:16] zandyring opened #240 "PayPal sending a mismatch in state format for shipping address"
The customer describes: In WooCommerce the state field is a drop down so it will always have the state in a specific format, e.g. Queensland. However whenever someone has their PayPal address as QLD this gets passed back into WooCommerce. This for me is breaking the sync of orders through to my shipping platform as it is expecting it in the WooCommerce format of the state but it’s receiving an unk

[2017-03-28 14:59] allendav commented on #192
After discussion with the team, we've decided to not make this change. Closing as no plan to fix.

[2017-03-28 15:01] allendav commented on #234
If registration is required and express checkout is being used, we're thinking of sending them a temp password.

cc @roykho

[2017-03-28 15:03] allendav commented on #175
After discussing with the team, we decided that that the express checkout experience really doesn't support the idea of having custom fields and that a more appropriate PayPal gateway should be used in these circumstances instead. It would be better to use PayPal in core or PayPal Pro in these situations.

Closing as no plan to fix.

[2017-03-28 15:03] #175 closed

[2017-03-28 15:25] vestaxpdx commented on #173
+1

[2017-03-29 20:34] dsmithweb opened #242 "In current master (1.20), if coupon is applied, Checkout from cart returns error 10413"
This bug doesn't exist in 1.1.2-- it affects the current master that shows up in my System Status Report as 1.20.0. If you've applied a coupon and then click the PayPal Express button on the cart, you get a "totals of the cart item amounts do not match order amounts" error.

<img width="721" alt="error" src="https://cloud.githubusercontent.com/assets/20285748/24475166/9f343f9c-1494-11e7-88a8-e92ad

[2017-03-30 19:52] danieldudzic opened #243 "Add Table Rate Shipping support"
The customer in 553051-zd-woothemes claims, the previous ( paid ) extension ( by SkyVerge ) did support table rate shippings.

Now, with the new ( free ) extension it no longer works.

Is that compatibility something we could consider adding?

[2017-03-30 21:09] allendav opened #244 "Warn the merchant of inappropriate settings when guest checkout is disabled"
I think we should display a notice in admin if

1) guest checkout is disabled and
2) the user is using a gateway like PPEC and
3) Automatically generate username from customer email is unchecked or Automatically generate customer password is unchecked

Something like:

[2017-03-31 03:12] creativeround opened #245 "Cannot process refunds on "authorize" transactions"
Authorize transactions never get their _woo_pp_txnData meta updated after capture action.

So process_refund() see's a blank array() for _woo_pp_txnData ($txn_data['refundable_txns']) and returns the error: "Refund Error: All transactions have been fully refunded. There is no amount left to refund"

FYI, I test this with a base theme and newest version of WordPress, WooCommerce and PayPal Express

[2017-03-31 18:20] seanreloaded opened #246 "Customer phone number not imported from PayPal account into WooCommerce order"
Like the subject says, upon successful transaction using PPEC, the customer's phone number in their PayPal account is not added in to the WooCommerce customer info as part of the order billing or shipping addresses.

[2017-04-03 04:07] creativeround commented on #245
FYI,  I test this with a base theme and newest version of WordPress, WooCommerce and PayPal Express checkout (including the repo's master branch).  Same issue happens.

[2017-04-03 18:44] zandyring opened #248 "Able to checkout without triggering required shipment cost"
This follows closely this issue https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/179

With PayPal Express, it's possible to set shipping to be calculated on the cart page, and then bypass that setting entirely, thereby never charging shipping even when required.

Shipping is set to add a $12 flat rate to addresses in California and North Carolina.
![screen shot 201

[2017-04-03 19:01] zandyring opened #249 "If there are no shipping options in WooCommerce, PayPal doesn't pass a shipping address to WC"
A customer found that if they didn't enable any shipping options, PayPal wouldn't pass a shipping address back to the Store: https://wordpress.org/support/topic/no-billing-adress-back/page/2/

They needed to set shipping as free, rather than omit shipping altogether, but it's worth considering at some point.

[2017-04-04 15:59] #234 closed

[2017-04-07 14:00] roykho opened #250 "We need to hide PPEC when cart amount is zero"
So while testing account funds, the total cart amount became zero as it is paid for by the funds in my account. In situations like this or if product is free, the PPEC button should be hidden.

Otherwise you get this error which is also not very user friendly. ![](http://cld.wthms.co/ZMjV+)

[2017-04-08 13:57] rellect opened #251 "Fatal error on disabling woocommerce"
I get fatal error in plugin list on disabling woocommerce

[code]

[2017-04-10 08:00] spraveenitpro commented on #242
Looks like a major bug, checking again.

[2017-04-11 16:33] #251 closed

[2017-04-12 10:04] galfaroth commented on #192
Really!? How to get rid of this nag!

[2017-04-12 15:12] karlmt opened #254 "Billing phone number not mandatory after 1.2.0 update"
V1.2.0 removes the mandatory requirement from the billing phone number.

[2017-04-12 19:54] allendav commented on #235
Fixing this now for 1.2.1

[2017-04-12 22:08] allendav commented on #235
@mdmoore  @FreshPhil @pcaWeb : So, just to be clear, you're kinda asking for us to interrupt/forbid the purchase _after_ they've initiated checkout with PayPal from their cart, approved the purchase in the PayPal modal (by clicking Continue) and returned to the site?

Because it is only after they are returned to the site do we have access to their shipping address, and that's only true if at leas

[2017-04-12 22:35] #250 closed

[2017-04-13 14:35] just2ronald opened #255 "PP is using an instance of WC Cart without checking it"
I changed the plugin code woocommerce-gateway-paypal-express-checkout/includes/class-wc-gateway-ppec-checkout-handler.php on line 120 from:
  if ( ! WC()->cart->needs_shipping() ) { ..
to this
if ( ! is_null( WC()->cart ) && ! WC()->cart->needs_shipping() ) { ..

This has solved it for me but would need checking by others.
(Credit to Giuseppe from Yith Themes)

[2017-04-13 16:32] adeelejaz opened #256 "Cannot checkout: "Billing country is a required field""
After updating to latest version of Woocommerce and this plugin, our customers are getting the following error when they are trying to checkout with PayPal.

This is occurring on the screen after they have gone to PayPal and come back to our website with token and payer ID.

We do not require any billing details, and I can confirm the checkbox for billing details is unchecked in the settings. We r

[2017-04-13 18:14] FreshPhil commented on #235
That's a good point @allendav - I guess we wouldn't be able to fully avoid these situations.
If we could prevent the purchases in the situations where we do get the address, maybe that's the best we can do.

[2017-04-13 23:23] simonrcodrington commented on #192
That's a real shame this is not going to be adjusted going forward. It's literally as easy as making it a dismissals notice.

Thanks for your consideration though.

[2017-04-15 10:32] mikejolley commented on #256
@allendav

[2017-04-17 16:27] allendav commented on #256
Hi @adeelejaz - I will try and reproduce this today, but I could use some more details

- Are you products shippable or purely virtual?
- Are you using both the "Check Out with PayPal" button in the cart, or are you also using the "PayPal Mark" on the checkout page?
- What country is your base location set to?

[2017-04-17 17:02] allendav commented on #237
Hi @pcaWeb - I'll take a look today at this

[2017-04-17 17:04] allendav commented on #255
Hey @just2ronald - under what circumstances does this result in a notice or error?

[2017-04-17 17:07] allendav commented on #254
Hey @karlmt - do you mean you expect:

1) the buyer to be prompted on the store's checkout page to supply their phone number before completing the purchase

or

2) this extension to get the buyer's phone number automatically from PayPal

[2017-04-17 18:09] allendav commented on #249
Confirmed - will investigate

[2017-04-17 18:12] allendav commented on #246
Hey @seanreloaded - PayPal returns a contact phone number only if the Merchant Account Profile settings require that the buyer enter one. Please have the merchant check their Merchant Account Profile settings at PayPal.

I'm having trouble with the PayPal sandbox site today, so I cannot verify this myself at this time unfortunately.

[2017-04-17 18:12] allendav commented on #246
See also #254

[2017-04-17 18:21] karlmt commented on #254
Hi @allendav

Number 1. On installing V1.2.0 the mandatory mandatory requirement from the billing phone number on the Woo checkout page is disabled.

[2017-04-17 19:30] adeelejaz commented on #256
1. Purely virtual, not downloadable.
2. The only payment option is PayPal with Express Checkout. All others are disabled. PayPal Mark is unchecked as well because as we bypass data entry on checkout.
3. Counties does not matter in my testing, but all our customers are UK based.

[2017-04-17 22:25] #242 closed

[2017-04-17 22:31] allendav commented on #254
Hi @karlmt !

OK, so in the spirit of express checkout we are trying to make it so that, if the buyer initiates checkout using the "Check Out with PayPal" button on the cart page, that when they are returned from PayPal to the site that they ideally can just click the "Place Order" button and be done.

Making the billing phone number required can disrupt that, since not all buyers will supply a ph

[2017-04-18 05:47] karlmt commented on #254
Thanks @allendav,

I see your point however I would personally add the option into settings as this would provide a better experience for non technical users. I had tried using the custom function approach but this did not resolve the issue.

I use Paypal with a number of other payment options and find that sometimes I need to chase people up who submit emails with typos.

`add_filter( 'woocommerc

[2017-04-18 20:33] just2ronald commented on #255
This was in combination with a 'customize checkout' plugin from Yith. When this is active I am unable to use the PPxpress option during checkout. Also, this throws an error within the settings page of the plugin.
Thanks for checking up on this...

[2017-04-18 22:44] allendav commented on #255
Hey @just2ronald - do you mind trying this PR to see if this works for you? We are tweaking how we filter those fields just a bit:  https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/258

[2017-04-19 17:14] allendav commented on #237
@pcaWeb - I cannot reproduce this, but I did want to check and see if you are getting this warning perhaps (it will appear as a notice at the top of the screen after saving):

If you enable logging, please ensure you are not getting a message similar to the following logged:

[code]

[2017-04-19 17:39] allendav commented on #254
I see your point - how about we add a checkbox to the settings as follows:

[ ] Require buyer to enter their telephone number during checkout if none is provided by PayPal

[2017-04-19 18:00] karlmt commented on #254
Perfect!

[2017-04-21 20:00] allendav commented on #256
@adeelejaz - please download and try master from this repository and let me know if it solves your problem - thank you!

[2017-04-23 08:35] adeelejaz commented on #256
I can confirm that has fixed the issue. Thank you!

[2017-04-24 16:44] allendav commented on #256
You're welcome - we'll get this formally released today, Wednesday at the latest.

[2017-04-26 12:32] mattyza commented on #256
@allendav - is this formally resolved in the latest release?

[2017-04-26 14:50] Jon007 opened #259 "phpunit.xml in root refers to /tests/phpunit directory which is not available in github"
phpunit.xml in root refers to /tests/phpunit directory which is not available in github

can this be added?

[2017-04-26 17:13] allendav commented on #256
@mattyza - almost - with the merge of #258 last week this was formally resolved on master and when we push that to .org it will be "in the latest release"

Closing this as fixed by #258

[2017-04-26 17:13] #256 closed

[2017-04-26 22:05] allendav commented on #240
@zandyring - good news! I just confirmed this was a bug in 1.1.2 but is working correctly in 1.2.0 and higher.  I noticed the customer is running 1.1.2 and upgrading to 1.2.0 or higher should fix the problem.

[2017-04-26 22:05] #240 closed

[2017-04-27 13:52] zandyring commented on #240
Huzzah!

[2017-04-27 15:20] mikaey commented on #254
@karlmt -- On PayPal's end, there's a setting in the merchant's account to require a phone number from the buyer.  Do you have that setting turned on?  (It's not turned on by default -- so if you've never changed that setting, you might want to go into your PayPal account and turn it on.)

[2017-04-27 16:32] yukikatayama opened #260 "Payment automatically goes to complete when payment action set to Authorize"
558730-zd-woothemes

#### What I expected

Payment should be on-hold and set to processing manually

#### What happened instead

Automatically goes through processing/complete

#### Steps to reproduce the issue

Payment action set to Authorize
![](https://cldup.com/yvn2xCDHA2.png)
Link to screenshot: https://cldup.com/yvn2xCDHA2.png

Make an order

Status automatically captures payment:

![](https

[2017-04-27 22:26] allendav commented on #239
Hey @zandyring - I am having a devil of a time trying to reproduce this.  Can you reproduce it or ask the merchant to provide additional details?

Please be sure they are testing with at least 1.2.0 now.

Important considerations:
- to get this to happen requires the customer to initiate checkout from the checkout page, right? (because checkout from the cart view doesn't give the customer an oppor

[2017-04-27 22:54] allendav commented on #235
Actually, I just confirmed that core WooCommerce doesn't even allow you to enter unsupported countries on the checkout page for billing or shipping addresses (i.e. if you've set "Sell to all countries except..." or "Ship to specific countries only"

[2017-04-27 22:55] allendav commented on #239
I'm going to go ahead and release 1.2.1 and then if/when we can reproduce this we'll consider it for the next release

cc @mattyza

[2017-04-28 16:17] mdmoore commented on #260
The delay before the the order is moved to processing is interesting.  I'm finding this happens instantly.  Also, the move to complete isn't happening for me, so that might be some type of auto-complete code at play.

Stock is also being reduced twice.

![](http://cld.wthms.co/DmpUy+)
Link: http://cld.wthms.co/DmpUy.png

[2017-04-28 17:05] johndcoy commented on #237
@allendav I got another report of this issue and replicated your message in the log file. Will we need to contact PayPal to enable the billing address request?

[2017-04-28 17:31] allendav commented on #237
I think so, yes - please let us know if that helps

[2017-04-28 18:11] robyholmes opened #261 "Double Stock Reduction"
Hi,

Since we updated to WooCommerce V3 our orders have been running the Reduce Stock action twice. During testing we've found this only happens when customers check out using PayPal Express Checkout.

We are on the latest versions of both.
WooCommerce 3.0.4
PayPal Express Checkout 1.2.1

We are now using PayPal standard which works fine. We tested with all other plugs disabled the found the same

[2017-04-28 18:36] yukikatayama commented on #260
Edit from my first post - even when status goes automatically through processing (when it shouldn't) it **doesn't** capture payment.

[2017-05-01 14:29] zandyring commented on #239
@allendav I left a note to the customer last week to be sure they were upgraded (per your comment on the thread), but haven't yet heard back. If they re-surface we'll track it down.

[2017-05-06 21:49] karlmt commented on #254
Thanks @mikaey

As I'm using a number of payment gateways this will not solve the issue for me.

On another note, I'd be interested to know why the filter above is not working.

Thanks again

[2017-05-11 02:58] Grubs opened #262 ""State is not valid" when at check out via PayPal Express Payment Gateway"
I've had a few people tell me they are getting a "State is not valid"

This is a screenshot of what is happening.

![state-is-no-valid](https://cloud.githubusercontent.com/assets/10626257/25930368/fd5a0d32-3644-11e7-8cd2-c4b5e47209d9.jpg)
 on our website

I got the customer to update their address in PayPal using the drop down box to select a state. She then tried again and it still happened

I di

[2017-05-16 04:22] bekarice opened #263 "Fatal Error calling is_main_query()"
From [zd-ticket-555210](https://woothemes.zendesk.com/agent/tickets/555210):

<pre>
Fatal error: Uncaught Error: Call to a member function is_main_query() on null in /homepages/10/d444022076/htdocs/clickandbuilds/WordPress/vitadrom15/wp-includes/query.php:749
Stack trace: #0 /homepages/10/d444022076/htdocs/clickandbuilds/WordPress/vitadrom15/wp-content/plugins/woocommerce-gateway-paypal-express-ch

[2017-05-16 08:10] tmikrut opened #264 "Resend Customer invoice Email - pay link not working"
### EXPLANATION OF THE ISSUE

When sending a customer invoice from Woocommerce order page, the  pay link in the email does not work if Paypal Express Checkout is the only enabled payment method. Error message received is "Sorry, it seems that there are no available payment methods for your location. Please contact us if you require assistance or wish to make alternate arrangements."

### STEPS TO

[2017-05-17 14:19] Cocktail5555 commented on #261
We are experiencing the same issue. This seems to be a bug in V3

[2017-05-19 15:06] yukikatayama commented on #260
Is there a possible timeline for this @allendav? thanks!

[2017-05-22 16:08] mattyza commented on #260
@yukikatayama - I've assigned this to @bor0, along with a few others. We'll be working on a timeline for these over the next few days. Thanks for checking! :)

[2017-05-23 11:58] CaelanStewart commented on #192
@allendav, may you please reconsider.

We're building a site for a client using WordPress and WooCommerce.

We specifically do not want to enable PayPal Express Checkout as we are setting up various analytics to record where user's drop off the payment flow, and to track conversions from start to finish.

PayPal Express Checkout makes this task more difficult, therefore we do not wish to enable it

[2017-05-24 10:47] bor0 commented on #262
Since we do not have clear reproduction steps, I will have to assume this is an issue with WC. I filed https://github.com/woocommerce/woocommerce/issues/15252 in hope the proposal gets into WC core and fixes this issue.

[2017-05-24 11:04] bor0 commented on #264
@tmikrut, if I enable the `Enable the PayPal Mark on regular checkout` option in the PPEC settings screen, this is no longer an issue.

Can you please confirm?

[2017-05-24 12:56] tmikrut commented on #264
@bor0 If I mark "Enable the PayPal Mark on regular checkout" the problem persists.

[2017-05-24 13:01] bor0 commented on #264
@tmikrut can you please upload some screenshots?

Here's what I get when the option is enabled:
![screen shot 2017-05-24 at 15 00 40 pm](https://cloud.githubusercontent.com/assets/1620929/26404348/dcc8abb2-4091-11e7-9f99-06b4bbc231e7.png)

Otherwise:
![screen shot 2017-05-24 at 15 01 08 pm](https://cloud.githubusercontent.com/assets/1620929/26404349/dd0a0c06-4091-11e7-983c-cdc7595519d0.png)

[2017-05-24 13:11] bor0 commented on #264
The only conditions we're unsetting `ppec_paypal` from the gateways list is:
1. The cart total is 0 or less
2. PayPal standard is enabled
3. The mark I mentioned above is unchecked

[2017-05-24 13:25] tmikrut commented on #264
Please see screenshot below. There's no difference to me if I have the mark checked or not.
![screenshot_20170524-151845](https://cloud.githubusercontent.com/assets/28725653/26405221/f5778e64-4094-11e7-8460-377cf76479d2.png)

[2017-05-24 13:26] bor0 commented on #264
@tmikrut do you have other plugins enabled? Or is PayPal standard enabled?

[2017-05-24 13:34] tmikrut commented on #264
PayPal standard is disabled. I have other plugins but none for payments. Here are my settings as well.
![img_20170524_153115](https://cloud.githubusercontent.com/assets/28725653/26405725/7d4dc460-4096-11e7-86a1-64230093b193.jpg)

[2017-05-24 13:40] bor0 commented on #264
I also tried mobile, with same results. Works when checked:
![test](https://cloud.githubusercontent.com/assets/1620929/26406030/58e95368-4097-11e7-8fb3-70026db74ea6.png)

[2017-05-24 13:48] bor0 commented on #264
I was finally able to reproduce this. I had an item in the cart, that's why it was always passing the check. Will do a PR soon.

[2017-05-24 13:54] bor0 commented on #264
@tmikrut thanks for the details on the issue! Could you check if the #266 patch resolves the issue for you?

[2017-05-24 14:02] bor0 commented on #262
Issue will be fixed in core [here](https://github.com/woocommerce/woocommerce/issues/15252). Feel free to re-open if it re-occurs.

[2017-05-24 14:02] #262 closed

[2017-05-24 14:08] tmikrut commented on #264
Yes, that did the trick! Works like it should now. Thank you! :)

[2017-05-24 14:58] #263 closed

[2017-05-25 12:29] #264 closed

[2017-05-29 05:25] masterguru9 opened #268 "10413 error"
Hi,

10413 error when executing paypal express in-page checkout after applying coupon code on cart page.

We are on The this version:
WooCommerce 3.0.1
PayPal for WooCommerce 1.4.4

Thank you.

[2017-05-29 07:44] mattyza commented on #268
Hi @masterguru9.

Our latest version of WooCommerce PayPal Express Checkout is version 1.2.1. Based on this, I believe you may be running a different PayPal extension, not developed by WooCommerce.

It seems you're running [this PayPal extension](https://wordpress.org/plugins/paypal-for-woocommerce/). I'd suggest logging this over on their support forums, for their developer's reference.

Thanks a

[2017-05-29 09:45] bor0 commented on #260
@yukikatayama / @mdmoore I keep getting `Sorry, we can’t complete your purchase at this time Please return to the merchant and choose another way to pay.` when I try to use "Authorize" payment action. However, it works file when it's "Sale". Any ideas?

[2017-05-29 10:14] mattyza commented on #259
Hi @Jon007. Thanks for posting this.

We'll be sure to add unit tests, as part of our unit test update cycle, in due course.

Thanks and regards,
Matty.

[2017-05-29 10:14] #259 closed

[2017-05-29 12:25] bor0 commented on #260
@mdmoore can you please confirm that #269 fixes the double stock issue?

[2017-05-30 01:19] masterguru9 commented on #268
Sorry, I mislabeled the plugin name. Our plugin is WooCommerce PayPal Express Checkout Gateway 1.2.1.

[2017-05-30 06:08] #261 closed

[2017-05-30 10:11] tapash opened #271 "Billing title is a required field"
After updating the plugin today, I see always 'Billing title is a required field'

how can I solve this?

[2017-05-30 13:54] mattyza commented on #271
@tapash - Thanks for asking.

When filling in the checkout form, I assume you've got a field under Billing which is for the customer's title (Mr. Mrs. etc).

I would assume that this field isn't filled in, which creates this message.

Is this assumption accurate?

Thanks in advance.

[2017-05-31 20:11] mdmoore commented on #260
@bor0 The stock issue seems to be fixed in master.  Though, orders are still jumping to processing automatically.

<img src="http://cld.wthms.co/UhG6Y2+" width="250"/>

`Sorry, we can’t complete your purchase at this time Please return to the merchant and choose another way to pay.`

That's a pretty generic error.  Maybe double check credentials or try another sandbox account.

[2017-05-31 21:15] yukikatayama commented on #260
Yes, I'm able to confirm it is jumping to processing as well:

![](https://cldup.com/w7cGwnQShh.png)
Link to screenshot: https://cldup.com/w7cGwnQShh.png

[2017-05-31 21:17] bor0 commented on #260
Do you have a test buyer account I can use for this ticket? Thanks!

[2017-06-01 06:05] bor0 commented on #260
@yukikatayama / @mdmoore can you please check if #272 resolves the issue? Thanks!

[2017-06-01 16:08] yukikatayama commented on #260
@bor0 Ah, ok, @mdmoore and I tested on a live PayPal account and with the master and we were able to get the desired result of having the Authorized order stay on-hold. However, when we tried to complete/process the order, we noticed there is no transaction ID in the order or IPN notification in the notes:

![](https://cldup.com/jmRLUWn7gn.png)
Link to screenshot: https://cldup.com/jmRLUWn7gn.png

[2017-06-01 21:58] FreshPhil commented on #239
Hey @allendav
569506-zd-woothemes

Seems to be related to this and has steps to reproduce. Could you have a look when you have a moment and see if this looks like it's related?

[2017-06-05 08:19] bor0 commented on #255
This should be fixed by the PR @allendav mentioned above. `method_exists( WC()->cart, 'needs_shipping' )` will return false if `WC()->cart` is null:
[code]

[2017-06-05 08:19] #255 closed

[2017-06-05 08:22] bor0 commented on #271
This message likely comes from core woocommerce instead of PPEC. As @mattyza mentioned above, I believe it's due to that field not being filled in.

[2017-06-05 08:34] bor0 commented on #245
Does it make sense to be able to refund authorization transactions?
@gedex / @hannahswain

[2017-06-05 09:17] bor0 commented on #237
The [check here](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/b36bdfad34b07e08df4ad3a392557a15b8a6329f/includes/abstracts/abstract-wc-gateway-ppec.php#L311) is pinging PayPal to see if the account has billing address enabled. For this, you would have to contact PayPal support and ask them to have it enabled.

Closing for now, but please re-open in case the issue

[2017-06-05 09:17] #237 closed

[2017-06-05 09:18] gedex commented on #245
I don't think we should support that. We should be able to refund once payment is received. See https://developer.paypal.com/docs/classic/api/merchant/RefundTransaction_API_Operation_NVP/.

@bor0 The fix is either:

* Store transaction ID, make sure to check if it's possible in the response. If there's no transaction ID at this point then leave it as is. Or,
* Better error message when transaction

[2017-06-05 09:34] bor0 commented on #271
I think this is related to #239. When I changed the address (by checking out from the cart screen), I got:
![screen shot 2017-06-05 at 11 26 26 am](https://cloud.githubusercontent.com/assets/1620929/26778530/efe19b24-49e1-11e7-9519-8397d415dfa2.png)

[2017-06-05 09:34] bor0 commented on #239
Was able to reproduce. Note that this is reproducible only on the cart screen, and is not reproducible if you go to the checkout screen and checkout with PayPal from there:
![screen shot 2017-06-05 at 11 24 03 am](https://cloud.githubusercontent.com/assets/1620929/26778475/b19861c2-49e1-11e7-8586-c916ffaed88d.png)

I think the issue is that the function `copy_checkout_details_to_post` is not calle

[2017-06-05 09:38] bor0 commented on #268
I wasn't able to reproduce this on latest master. @masterguru9 can you please provide exact reproduction steps or check from the screenshots if there's any step I missed? Thanks!

![screen shot 2017-06-05 at 11 35 50 am](https://cloud.githubusercontent.com/assets/1620929/26778852/53472354-49e3-11e7-8cee-dea092c7de69.png)
![screen shot 2017-06-05 at 11 36 15 am](https://cloud.githubusercontent.com/

[2017-06-05 12:07] madeincosmos commented on #245
As far as I understand, the problem occurs after the payment is eventually captured, so the refund should be possible at that time. Tried to reproduce it on my test site, but it seems sandbox and live modes work differently when it comes to Authorize action (see #260).

It looks to me that we should probably focus on resolving #260 for now to make sure the Authorize action works 100% as intended,

[2017-06-05 12:15] gedex commented on #245
Right, store owner should be able to refund once captured. The culprit is transaction ID is not stored in the order meta when payment action is set to authorization hence I believe the fix is:

@bor0 I think it's around this [line](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/master/includes/class-wc-gateway-ppec-checkout-handler.php#L786-L801). Not sure if trans

[2017-06-05 12:34] #260 closed

[2017-06-05 12:34] bor0 commented on #260
This issue's description was fixed by PR #272. @yukikatayama / @mdmoore / @madeincosmos please file any potential additional tickets targeted for 1.4.0 and we'll start addressing them.

[2017-06-05 13:58] creativeround commented on #245
Just to clarify for everyone:

You should be able to cancel/void authorizations before its captured. <-- believe this works

You should be able to refund/partial refund authorizations once the authorization is captured. <-- doesn't work

[2017-06-05 17:47] yukikatayama opened #273 "When trying to capture payments, transaction does not process"
A follow up to #260, ticket is 558730-zd-woothemes

Updated to 1.3.0. When in Live mode and payment action set to Authorize, when admin changes the order status from on-hold to processing/completed or does capture charge order action, the order is not charged.

Transaction ID is still missing.

![](http://cld.wthms.co/fUUFbK+)
Link to screenshot: http://cld.wthms.co/fUUFbK

@bor0

[2017-06-06 06:01] bor0 commented on #235
I confirm the same behaviour as @allendav, can't select other country:
![screen shot 2017-06-06 at 08 00 50 am](https://cloud.githubusercontent.com/assets/1620929/26815737/5233b760-4a8e-11e7-8086-64b959ba7e3f.png)

@FreshPhil / @mdmoore can you confirm?

[2017-06-06 06:32] bor0 commented on #254
This is partially fixed in d646806d. I will be adding the checkbox that the `required` status of the fields be dependent on.

[2017-06-06 08:58] bor0 commented on #194
@mattyza @gedex I am wondering how should the flow be on this one. Should the PayPal popup appear on the product page or should we redirect them to the cart page and then show the popup?

[2017-06-06 13:13] #245 closed

[2017-06-06 13:14] bor0 commented on #273
@yukikatayama / @madeincosmos / @mdmoore can you please re-test this against latest master? I believe #274 should also take care of it.

[2017-06-06 16:03] yukikatayama commented on #273
@bor0 Sweet! I can confirm that transaction went through when selecting "capture charge" :)

![](https://cloudup.com/cnrpH0QiKF8+)
Link to screenshot: https://cloudup.com/cnrpH0QiKF8

[2017-06-06 16:04] bor0 commented on #273
@yukikatayama great! In this case I will be closing this issue and it will be included in the 1.4.0 release.

[2017-06-06 16:04] #273 closed

[2017-06-06 21:41] FreshPhil commented on #235
@allendav & @bor0  - The user doesn't have to specify their country on the checkout page.

After logging into PayPal, they are sent back to WooCommerce were they can simply confirm the order. They don't need to enter their address as it is grabbed from PayPal as you can see here:
http://cld.wthms.co/SPYEKC

[2017-06-06 21:56] FreshPhil commented on #235
^ In a follow-up to my last comment, when you try the final step of completing the payment WooCommerce kicks in and stops you:

http://cld.wthms.co/XTwSw

Looks like everything is good with the current public version (unless @mdmoore has other input).

[2017-06-07 06:40] bor0 commented on #248
Can use an AJAX call to update the cart before showing the popup, as is done similarly in #276. Will wait for that one to get merged before starting work on this one.

[2017-06-07 07:46] #254 closed

[2017-06-07 08:13] bor0 commented on #246
This is not an issue on the extension side. To mimic PayPal phone number behaviour, before [this line](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/1.3.0/includes/class-wc-gateway-ppec-client.php#L204), I added:
`$result['PHONENUM'] = '123456';`.

In this case, the extension captures the phone number:
![screen shot 2017-06-07 at 10 11 12 am](https://user-images.g

[2017-06-07 08:13] #246 closed

[2017-06-07 08:23] bor0 commented on #197
Closing as a duplicate.

[2017-06-07 08:23] #197 closed

[2017-06-07 11:20] #249 closed

[2017-06-07 12:23] #173 closed

[2017-06-07 20:42] #248 closed

[2017-06-07 20:43] #194 closed

[2017-06-08 11:36] bor0 commented on #239
Hi,

I was able to reproduce this even on 1.1.2. Namely, the address that's entered in PP gets transferred to WC. However in 569506-zd-woothemes they claim this got broken in 1.2.0 (by `* Fix - Compatibility with WooCommerce 3.0, including ensuring the customer address is saved correctly.`)

I just want to make sure that we're on the same page.

@FreshPhil / @zandyring do you have reproduction ste

[2017-06-08 11:46] bor0 commented on #239
I can't reproduce this on latest master / 1.3.0, even with 569506-zd-woothemes.

@FreshPhil / @zandyring have you perhaps been able to reproduce this, and if so do you have reproduction steps for it?

[2017-06-09 15:46] singlow opened #280 "Express Checkout goes to fallback mode, redirects to Paypal site."
Starting Wednesday we noticed that the checkout process was redirecting to Paypal instead of handling it in the popup window. It is doing a fallback workflow because of a JS error. We contacted PayPal support and they informed us that the problem was due to the url for checkout.js having the version string attached.

We modified the plugin to remove the version string and it is working fine now.

[2017-06-10 13:09] Jo-TNVA opened #282 "Billing phone number required field since new updates"
Whenever a guest goes to the checkout and tries to pay with PayPal, the screen is returned with an error saying the billing phone number is a required field. This has never been ticked in the settings but is now returning the error since the updates were done.

My client says he updated WordPress to 4.8 and plugins for PayPal, Stripe and Woocommerce to the latest.

Please help.

![img_2780](https:

[2017-06-12 07:40] mattyza commented on #282
Hi @Jo-TNVA,
Is the "Billing Address" setting enabled currently, after upgrading to the latest version?

An additional note, if this field is enabled, you'd need to contact PayPal to have this feature enabled on your account.

Thanks in advance for your feedback.

[2017-06-12 08:37] #280 closed

[2017-06-12 08:44] Jo-TNVA commented on #282
Hi @mattyza

No, it's never been enabled.
I have 'Send shipping details to PayPal instead of billing' enabled.

Thanks
Jo

[2017-06-13 15:53] tommyshellberg commented on #282
@mattyza I can also reproduce this error. Billing Phone is *not* required within both my PPEC plugin settings page and my PayPal merchant account(sandbox).

[2017-06-14 14:41] mattyza commented on #282
Thanks @tommyshellberg. I've assigned to @bor0 for his attention in his next PPEC sprint.

[2017-06-15 07:11] storets commented on #268
Hello, I am on behalf masterguru
I will pm to bor0 for our development website information and coupon code.
in-page paypal button works fine without coupon code.

[2017-06-19 13:09] tuna-f1sh commented on #282
I have this problem too. Is there a work around fix in the mean time? Customers have brought it to my attention as they can't order...

[2017-06-20 08:30] mikejolley opened #283 "Report of error in ppxo_xc_ppcheckout_unexpected_listener_init Object"
https://github.com/woocommerce/woocommerce/issues/15696

---

### EXPLANATION OF THE ISSUE

PayPal express checkout broke i believe upon upgrading to 4.8 (only from a version just below)

### STEPS TO REPRODUCE THE ISSUE

Add product > Go to checkout page > Paypal sidebar doesn't load > If you click "express checkout" errors are displayed in console.

[code]

### SYSTEM STATUS

<details>
[code]
</

[2017-06-20 13:57] creativeround opened #284 "_paypal_status on Authorize transactions not updating to completed after capture"
_paypal_status is always "pending".

Is this suppose to update to "completed" after the transaction is captured?

[2017-06-21 17:47] jackgregory commented on #282
Same here, cant take any orders due to this issue.

[2017-06-21 22:49] jackgregory commented on #282
@tuna-f1sh

in the file `includes/class-wc-gateway-ppec-checkout-handler.php` change line 148 to

`$billing_fields['billing_phone']['required'] = 'yes' === $require_phone_number;`

Fixes the issue for me until an update.

[2017-06-22 09:09] bor0 commented on #284
@creativeround which version was this tested against?

[2017-06-22 11:14] #282 closed

[2017-06-22 22:02] creativeround commented on #284
version 1.4.0

[2017-06-28 13:39] smazur opened #286 "NOSHIPPING=0 always."
After update to v1.4.0 we got an error from Paypal about wrong shipping address. The product is virtual and doesn't require shipping. I believe that's wrong behavior and needs to be  fixed.

[2017-06-28 13:41] smazur commented on #286
Not sure why you did that, but that's wrong.
https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/commit/bbf954acaf8f9cee662783c04e3c84b59e98398c

[2017-06-28 14:30] benjamingibert commented on #256
I am still having this issue. I've updated to the latest release and multiple customers are still being asked for a billing phone number despite there not being a field to put this in anywhere. all details being dealt with by PayPal. Is anyone else still having a problem with this?

[2017-06-28 14:30] bor0 commented on #286
I see how this can cause issues. That change was done because PayPal is not returning a shipping address when NOSHIPPING=1, and if there were no shipping methods defined in WC it wouldn't return an address.

[2017-06-28 14:30] benjamingibert commented on #282
Has an update been released to fix this? It is still stopping my customers from ordering via PayPal?

[2017-06-28 14:58] bor0 commented on #282
Will try to release today/tomorrow.

[2017-06-28 15:12] FreshPhil opened #288 "Shipping Address being required on Virtual products"
Seems related to #256 and possibly #286 ?

595583-zd-woothemes
596667-zd-woothemes
595170-zd-woothemes

**What I Expected**
When selling virtual products, you should be able to checkout without entering a shipping address

**What Happened**
When trying to checkout without entering a shipping address, you get the following error:
![](http://cld.wthms.co/ZgSKQK+)
Image Link: http://cld.wthms.co/ZgSK

[2017-06-28 15:19] #286 closed

[2017-06-28 15:19] bor0 commented on #288
@FreshPhil can you please re-test against latest master? If all good I'll release 1.4.1 with that fix included. Thanks!

[2017-06-28 15:40] FreshPhil commented on #288
@bor0 - Works for me!

Great job and thanks for the super fast turn around :1st_place_medal:

[2017-06-29 02:46] vzeazy opened #289 "Not Returning PayPal Transaction Fee"
PayPal standard returns the trasnaction fee and stores it in the order meta.
This plugin appears to have some hint that this should be included as well:

grep -rl "PayPal Transaction Fee"
includes/gateways/paypal/includes/class-wc-gateway-paypal-pdt-handler.php
includes/gateways/paypal/includes/class-wc-gateway-paypal-ipn-handler.php

However, live orders did not have this information saved as exp

[2017-06-29 09:34] bor0 commented on #289
I'm assuming this is due to using `order->update_meta_data` without doing save on it.

@vzeazy can you check the patch on the PR #290 to see if that resolves the issue for you? Thanks!

[2017-06-29 09:40] bor0 commented on #284
@creativeround can you check if the changes on the PR #291 fix the issue for you? Thanks!

[2017-06-29 09:50] bor0 commented on #283
@shaun-ba can you provide more details about reproducing this? I wasn't able to reproduce it using the provided steps.

[2017-06-29 12:38] melindahelt opened #292 "Offer PayPal Credit on Checkout"
Ticket: 595437-zd-woothemes

Currently, plugin only offers PayPal Credit on the cart page, not the checkout. Because of this, customers who use PayPal Credit are not forced to sign up for an account. Even with guest checkout unchecked, customers are sent directly to PayPal Credit and not directed back to sign up for an account.

Please consider adding this feature so our users can take advantage o

[2017-06-29 16:08] roykho commented on #284
No this is not how it is suppose to work. Unless the product is virtual/downloadable, the status after capture should be "processing" not "completed". cc @bor0

[2017-06-29 16:34] creativeround commented on #284
It actually does move the order to "processing".  This fix works if the status should be "Processing" after capturing.  Is this so a shipping manager can ultimately change it to "Completed" after shipping? @roykho

[2017-06-29 16:38] roykho commented on #284
@creativeround - that is correct. If the order is flag completed. The shipping handler would have no idea if shipping has been handled already or not. It serves as a flag for the handler. So capturing the charge should NOT move the status to completed. It should be processing.

However if you do need it to go straight to completed for whatever reason, you can use a plugin like this https://docs.wo

[2017-06-29 16:42] creativeround commented on #284
Excellent.  I've confirmed this fixed [#291](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/291) is working.

[2017-06-29 16:45] creativeround opened #293 "Bulk Capturing for Orders screen is not working"
If you select orders via the orders screen and do a Bulk > Capture Charge is will not capture PayPal Express Checkout Orders.

NOTE:  I'm also using the [Authorize.Net AIM plugin](https://woocommerce.com/products/authorize-net-aim/), this Bulk > Capture Charge functionality might be coming from this plugin.

[2017-06-29 17:38] creativeround commented on #284
I did notice that when you change the order status to "Cancelled" on an order that is NOT captured, it will create an order note and set the status to "Failed". Is there a way we can set this to "Cancelled". "Failed" is not really a desired status, since the order status selected was "Cancelled".

Order Note:
"Payment voided via IPN. Order status changed from Cancelled to Failed."

[2017-06-30 04:00] vzeazy commented on #289
Thanks @bor0

Have applied the patch and still no luck.
Few live orders came in since and neither PayPal Express Checkout or regular PayPal Checkout (using the PPEC plugin) are returning the fee value.

[2017-06-30 04:18] vzeazy commented on #256
Confirm this problem still exists.

Customer goes through PayPal Express Checkout, get's thrown back to the site with error asking for phone number, but not place to put it.

Tested in Live and Sandbox environments.

[2017-06-30 10:44] dwainm commented on #293
@creativeround to bulk capture with PayPal Express you can simply select the orders and Bulk mark as processing:

<img width="184" alt="screen shot 2017-06-30 at 12 43 13 pm" src="https://user-images.githubusercontent.com/1713474/27732475-bd2c2c30-5d91-11e7-9de8-71530028048d.png">

Capture Charge will not work as this is not part of this extension.

[2017-06-30 10:44] #293 closed

[2017-06-30 17:20] creativeround commented on #293
Anyway we can integrate this on a Authorize.Net plugin detection?  Makes it hard for our customer service team to bulk capture orders if they have to selectively select PayPal Express orders for an separate process.  The Authorize.Net AIM plugin is a very popular plugin, that's why I ask.

[2017-07-03 07:23] dwainm commented on #293
@creativeround I'm thinking that we should standardise this across all payment gateways: marking as processed should mean capture. This is the way it is used with Stripe as well.

[2017-07-03 16:36] jessepearson opened #294 "Checkout on single product available before variations are chosen"
User in [this forum thread](https://wordpress.org/support/topic/paypal-express-product-page-not-working-with-variations/) brought up this issue.

If **Checkout on Single Product** is enabled, then the checkout button is available on single products before required options, such as variation drop downs, are selected.

### Steps to reproduce

1. Enable **Checkout on Single Product**
1. View a variab

[2017-07-03 19:59] slash1andy commented on #288
@bor0 sorry to reopen this, but the customer from above came back and said it's not working. I can confirm that he's running 1.4.1 and it's still spitting the same error back on checkout.

[2017-07-03 23:18] reescott commented on #288
Submitted a pull request to fix this issue, while maintaining a fix to #249.

[2017-07-06 12:56] jesucarr opened #296 "Add Paypal button on top of checkout page"
I'd like to have a Paypal button on top of the checkout form, as it happens with the Apple Pay button when enabled in the Stripe extension.

This way the customer will see:
Checkout with Paypal
or
Buy with Apple Pay
or
(checkout form with credit card)

[2017-07-06 12:59] jesucarr opened #297 "Support tokenization to be able to take future payments"
Being able to save the customer token, as it happens with the Stripe extension with "Enable saved cards", so plugins can take future payments just by calling the gateway process_payment function.

[2017-07-06 13:01] jesucarr opened #298 "Skip order confirmation page"
Since the customer already verifies the amount and address in the Paypal popup, it is redundant to add an extra order confirmation step, and would be better to take the payment and send them directly to the order received page

[2017-07-06 19:11] jessepearson opened #299 "Transaction ID not viewable in order or order notes"
Along the same lines of #289, the Transaction ID is not shown in the order notes and/or in the visible meta data. It is in the hidden meta data under `_transaction_id`.

### Steps to reproduce

1. Purchase a product with gateway
1. View order in admin
1. Transaction ID not visible in order ❌

Reported in forum thread:
https://wordpress.org/support/topic/cant-see-transaction-id-in-order-notes/

[2017-07-07 20:10] FreshPhil opened #300 "Shipping Address overridden when PayPal returns billing address as well"
**Tickets Impacted**
569506-zd-woothemes

**Steps To Reproduce**
- Enable the _Require Billing Address_ option under Advanced Settings
- Checkout using PayPal Express
- During Checkout select an address that differs from your billing address
- Confirm order and checkout

**What I Expected**
- WooCommerce Order will show a different address for Billing and Shipping, matching what I selected in PayP

[2017-07-08 16:56] starlabssystems commented on #268
This issue is happening on our site - https://starlabs.systems

There is an active coupon code that works on laptops - independence

If you need any logs or testing or anything, let me know!

[2017-07-12 09:39] bor0 commented on #235
Closing this. Feel free to re-open in case you find any additional issues.

[2017-07-12 09:39] #235 closed

[2017-07-12 09:43] bor0 commented on #268
Hi @starlabssystems, I just tried to reproduce this but I get "This coupon has expired".

[2017-07-12 09:47] starlabssystems commented on #268
Hi @bor0
Sorry, coupon is active now

Thanks

[2017-07-12 09:52] bor0 commented on #268
Thanks @starlabssystems I was now able to reproduce it. Can you tell me your PPEC version, and have you tried to see if it works with the latest one?

[2017-07-12 09:54] starlabssystems commented on #268
WooCommerce PayPal Express Checkout Gateway V1.4.1

Yes, I have tried to last 2 versions, the issue is there for all of them.

[2017-07-12 10:04] bor0 commented on #268
Still wasn't able to reproduce locally. The error we're getting on your site is PayPal returned API error code 10413 - The totals of the cart item amounts do not match order amounts.

I am wondering if you are using any other plugins that might interfere this?

Also if you could tell me your Tax settings so that I can set them locally in order to reproduce it'd be great.

[2017-07-12 10:07] starlabssystems commented on #268
Did try disabling / removing all CSS possible. The only ones left were:
WooCommerce
PPEC
WooCommerce Composite Products (products can't be bought if this is disabled)

Tax is just set to 20% Europe 0% Rest of the World

[2017-07-12 10:17] bor0 commented on #268
@starlabssystems could you please try creating a simple product and see if the issue is reproducible there? I believe this is due to a conflict with composite products (but still trying to identify root cause)

[2017-07-12 10:19] starlabssystems commented on #268
Composite products does seem to be the issue

Tried the coupon on this product (https://starlabs.systems/product/bullet-usb/) with the plug-in active and it worked fine. So its the product's themselves, not the plugin.

[2017-07-12 10:21] bor0 commented on #268
Thanks for the help @starlabssystems!

Now I have a few assumptions that I can test in order to find the cause. I believe the totals calculation for composite products is not calculated properly thus resulting in the PP error (cart item amounts mismatch order amounts).

[2017-07-12 10:52] starlabssystems commented on #268
Okay, sounds good.

Just ran a couple of test's, with the components marked as "Priced Individually" the error occurs. When it is unchecked (so components are free), there is no error. So your theory sounds very likely!

[2017-07-12 11:05] bor0 commented on #268
@starlabssystems thanks for the patience and investigating this with me! I created https://github.com/woocommerce/woocommerce-composite-products/issues/213 so that the issue can be given a look there. Will update this ticket with details.

[2017-07-12 11:10] bor0 commented on #288
@slash1andy can you please verify the PR #295 to see if it resolves the issue? The code looks good to me.

[2017-07-12 11:40] starlabssystems commented on #268
Hi

Thanks but can't see the repo for composite products!

________________________________
From: Boro Sitnikovski <notifications@github.com>
Sent: 12 July 2017 11:05:20
To: woocommerce/woocommerce-gateway-paypal-express-checkout
Cc: Sean Rhodes; Mention
Subject: Re: [woocommerce/woocommerce-gateway-paypal-express-checkout] 10413 error (#268)

@starlabssystems<https://github.com/starlabssystems> t

[2017-07-12 11:41] bor0 commented on #268
It's a private repo. I will post updates here. :)

[2017-07-12 14:35] franticpsyx commented on #268
Hey @bor0

CP basically just triggers the addition of some extra items in the cart -- that's pretty much it :) "Priced Individually" doesn't do much on its own -- it simply means those cart items maintain the original price/total values of the associated products -- as if they had been added to the cart on their own.

Did you try to see if the same issue happens when **the same** products are adde

[2017-07-12 14:41] starlabssystems commented on #268
(If I understand what you wrote correctly)
Added the individual component parts to basket, without the main composite product and no issue.

And I have staging site that can be used?

[2017-07-12 14:44] #284 closed

[2017-07-12 14:52] franticpsyx commented on #268
@starlabssystems @bor0 Can you share access creds? Would love to have a look!

[2017-07-12 14:56] starlabssystems commented on #268
Course.

How should I share them? Not sure how to send a message and would prefer not to share with the world - even if it is just for staging!

[2017-07-12 15:00] mattyza commented on #268
@starlabssystems - if you wouldn't mind please logging a ticket via https://woocommerce.com/my-account/ and labelling it "For attention: Matty", I can ensure the details reach our team correctly.

[2017-07-13 09:52] bor0 commented on #268
@starlabssystems can you please try applying this patch locally to see if it fixes the issue for you? I had reproduced a similar issue locally (but not using coupons, it was tax related), so I'm curious if it's the same issue you're having:
[code]

[2017-07-13 09:56] bor0 commented on #299
@jessepearson the transaction ID is shown as follows:
![screen shot 2017-07-13 at 11 55 25 am](https://user-images.githubusercontent.com/1620929/28161031-4319e64a-67c2-11e7-9207-4b18d5ce0e5b.png)

Can you confirm you're seeing that?

[2017-07-13 09:56] starlabssystems commented on #268
Not sure how to "apply the patch".

Do I just change these lines in the php file?

`                                        $extra_line_item = $this->_get_extra_offset_line_item( $diff );

                                        $details['items'][]            = $extra_line_item;
-                                       $details['total_item_amount'] += $extra_line_item['amount'];
-

[2017-07-13 09:57] bor0 commented on #268
Yes, please just try removing those 2 lines from that file:
[code]

[2017-07-13 10:04] starlabssystems commented on #268
Removed the 2 lines, error still occurs (on starlabsonline.com website)

[2017-07-13 10:14] bor0 commented on #289
@vzeazy in the code, the transaction fee appears only in IPN. Can you confirm your order has the note `IPN payment completed`?

[2017-07-13 12:09] jessepearson commented on #299
@bor0 I can't believe I missed that. I believe that most people, including myself, are expecting a note in the order with this information, so it is being overlooked. Would this issue be able to be switched from being a bug to an enhancement so that can be added in the future?

[2017-07-13 16:05] starlabssystems commented on #268
Hi @bor0 @franticpsyx

An unrelated one and I appreciate this is the wrong repo but, with the composite products, the total price only seems to display with certain themes. Is this a Woo issue or theme author issue?

Cheers

[2017-07-13 16:14] starlabssystems commented on #268
Sorry, double post but just discovered something else with the PayPal error:
Coupon for Basket Total - no error
Coupon for Product - error

If it helps.........

[2017-07-13 18:32] franticpsyx commented on #268
The total price is displayed only if the price of a composite product is _non-static_.

[2017-07-13 18:43] starlabssystems commented on #268
The total price is displayed only if the price of a composite product is non-static.
--
Non-static as in changes anyway - like this: https://starlabs.systems/product/star-labtop/#configuration

[2017-07-13 18:48] franticpsyx commented on #268
You have some odd CSS that hides it there: `.single-product .product_infos p.price:nth-child(1) { display: none; }`

In general, if it works with Storefront but not with some other theme, then there's an issue with the theme.

[2017-07-13 19:00] starlabssystems commented on #268
Ah cool thanks.

Now begins someone who knows nothing about CSS trying to edit it!

[2017-07-14 08:18] bor0 commented on #283
Closing after no activity, feel free to reopen with additional info on how to reproduce.

[2017-07-14 08:18] #283 closed

[2017-07-14 11:17] bor0 commented on #268
@starlabssystems thank you for your patience and help in attempt to resolve this. There was an issue where the discount wasn't applied to shipping (if applicable), thus resulting in the PP error.

Can you please test on the dev instance you sent us and let me know if all is good? If so, I will include that fix in the next version of PPEC.

[2017-07-14 11:20] bor0 commented on #268
Fixes for this so far: e7a3d072caf10a8616349d87fb941596ccdffb00, 3978a17e4f7ec75a63f99789882e591c72ffe77c.

[2017-07-14 11:58] starlabssystems commented on #268
Looks all good to me!

Applied to staging site.

Thanks very much for your help!

[2017-07-14 14:55] FreshPhil opened #301 "Phone not returned and "Require Phone Number" setting not working"
****Tickets Impacted**
569506-zd-woothemes

****What I expected**
When you've using the "Require Phone Number" option, if no phone number is returned from PayPal then the customer should be required to enter one before placing the order.

****What actually happened**

With "Require Phone Number" enabled and having phone number set as an option field in PayPal
![](http://cld.wthms.co/QR3yaY+)
Image

[2017-07-14 18:54] starlabssystems commented on #268
Slightly stumped but its not working anymore...

Copied the updated php file to the proper site and it didn't work. Went back to staging as it wasn't working either.

Have double checked the changes you had made and they are definitely in place.

Nothing else has been changed so doesn't make sense...

[2017-07-15 08:55] mattyza commented on #268
Re-opening this for your attention, @bor0.

[2017-07-17 08:55] bor0 commented on #268
Introduced another fix for this: 357fdb7ec1c17dbeec792ab11188bd448cbaa987.

@starlabssystems I changed it directly on your staging site in order to be able to test, and it seems it's fine now. We had 2 separate functions that were doing the same calculation but one of them wasn't updated with the new discounts code fix that I did so I abstracted the calculation into a single function.

Can you ple

[2017-07-17 09:03] starlabssystems commented on #268
Hi @bor0

Just tried adding this to basket on staging with "woo" discount code and got the error:
https://starlabsonline.com/product/star-labtop/

[2017-07-17 14:03] bor0 commented on #268
@starlabssystems I updated staging, please try to use PR https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/302 to check if it resolves the issue for you. Seems fine to me.

[2017-07-17 14:23] starlabssystems commented on #268
Independence code works fine

Tried "woo" (10% of basket) and got 11812

[2017-07-17 14:53] bor0 commented on #268
@starlabssystems for which product is that? `Star LabTop` works fine for both `woo` and `independence`

[2017-07-17 15:01] starlabssystems commented on #268
LabTop Pro - I was just choosing at random!

[2017-07-17 15:55] bor0 commented on #268
@starlabssystems nice catch! One more round of testings please :)

[2017-07-17 16:04] starlabssystems commented on #268
You win - I can't break it! Even with a 100% discount code

Thanks again :)

Is it just the same php file which has been changed?

[2017-07-17 16:14] bor0 commented on #268
@starlabssystems we both win. Thank you very much!
Please don't include the codefix in prod yet while my teammates review the code.

[2017-07-17 18:23] bor0 commented on #268
@starlabssystems you can use the same fix for production. That fix will be included in the next release. Thanks!

[2017-07-17 18:23] #268 closed

[2017-07-17 18:24] bor0 commented on #239
Ping @FreshPhil @zandyring.

[2017-07-17 18:24] bor0 commented on #271
Ping @tapash.

[2017-07-17 18:28] starlabssystems commented on #268
@bor0 Will do. Thanks again for your help.

Do you do the PayPal Pro Hosted plugin too? As I have found a bug with that :)

[2017-07-17 18:29] bor0 commented on #268
Can you please try to create an issue in https://github.com/woocommerce/woocommerce-gateway-paypal-pro-hosted/issues? We can follow up from there.

[2017-07-17 18:30] starlabssystems commented on #268
Would do but its not visible to me!

[2017-07-17 18:40] tapash commented on #271
@mattyza thanks

[2017-07-17 18:40] #271 closed

[2017-07-18 15:45] FreshPhil commented on #239
@bor0 my ticket ended up being a different issue which I opened in #300
The original ticket @zandyring had is resolved with no follow up from the customer since `1.2` was released, so this issue can be closed.

[2017-07-18 15:45] #239 closed

[2017-07-19 16:26] #288 closed

[2017-07-20 11:21] creativeround opened #304 "Refunds not working on authorize then captured transactions"
When you capture the charge, PayPal does the capture in a new transaction ID.
The plugin is not updating the previous transaction ID to the new "captured" transaction ID.

When you go to do a refund, it's trying to refund on authorize transaction ID, not the final charge/capture transaction ID.

I manually changed the post_meta "_transaction_id" to the final charge/capture transaction ID and the r

[2017-07-20 11:37] creativeround opened #305 "Invoice Prefix should have the ability to be empty"
You can't make the "Invoice Prefix" empty.  When you save the settings the "Invoice Prefix" reverts back to "WC-".

[2017-07-24 14:08] bor0 commented on #301
@FreshPhil I think those fields are populated on the PP side. Related: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/246#issuecomment-294547752

[2017-07-24 14:15] bor0 commented on #304
@creativeround can you test if #307 fixes the issue for you? Thanks!

[2017-07-25 14:22] #294 closed

[2017-07-26 08:52] artofzen commented on #256
Any updates on this issue?

[2017-07-26 18:27] FreshPhil commented on #301
Thanks for clarifying @bor0 - I wasn't sure if this should still get a number from PayPal when using the "optional" setting in their PayPal account.

Still - if no number is returned from PayPal, the customer should be asked for one during PayPal, as per our description of the feature:
![](http://cld.wthms.co/5HahTe+)
Image Link: http://cld.wthms.co/5HahTe

[2017-07-28 09:55] #304 closed

[2017-07-31 09:47] bor0 commented on #301
@FreshPhil that option only affects WC, not PayPal. This is the effect it has on the code:
`$billing_fields['billing_phone']['required'] = 'yes' === $require_phone_number;`

[2017-08-01 00:40] kinetic-henza opened #309 "10431 Error – Item Amount Invalid at Checkout"
I came across a bug when using the live environment, **and** ~~which wasn't manifesting itself using~~ the sandbox... I am seeing a [10431 error](https://developer.paypal.com/docs/classic/api/errors/#10431) on the checkout page.
It is also possibly related to using a coupon code since in my limited testing it occurred after adding a coupon.
I also don't get the error if I click the 'Check out with

[2017-08-01 13:22] bor0 commented on #309
@kinetic-henza are both of your sandbox/prod environments running 1.4.2? And also, would you know if this bug not happening prior to the upgrade to 1.4.2?

[2017-08-04 02:17] kinetic-henza commented on #309
Hmm...
Yes, using the same version plugin for Sandbox testing... I just switched back to the Sandbox, did a test and got the error. So it turns out it is in both the environments. The site is a new setup so this was the first and only version I have used...

I had a further play around with changing the product price/coupon value, and while there doesn't seem to be a strong correlation I did find

[2017-08-09 12:18] Warpsmith commented on #309
Any solutions? This is causing problems and losses!
Btw, for me it is completely unrelated to coupon codes.
So far it have happened several times when people have tried to buy 3 tickets á 220 SEK (including 6% VAT), and once when someone have tried to buy 2 tickets.
1, 2 and 4 tickets usually goes through.

[2017-08-10 13:38] vestaxpdx commented on #309
I am also experiencing this regardless of coupon codes! I hope there is a fix soon...

[2017-08-12 11:31] #289 closed

[2017-08-12 11:47] bor0 commented on #309
Can some of you guys check if the proposed patch for this (#310) fixes the issue? It does for me as far as I've tested, but it'd be better to get more confirmations.

[2017-08-12 19:53] vzeazy commented on #289
Hey @bor0 my apologies for not responding sooner.
Thanks for pointing me in right direction, was not sure how IPN funcitoned.

[2017-08-13 18:52] FreshPhil commented on #301
@bor0 sorry for the delayed reply - was on afk.

Sorry I miss-typed in my last reply. I meant to say that if no phone number is returned from PayPal, the customer should be asked for one during the checkout in WooCommerce.

In my example above, the "Require Phone Number" feature was enabled - yet when a phone number was not returned from PayPal - the customers was still not asked for one during th

[2017-08-15 08:43] #309 closed

[2017-08-15 09:28] bor0 commented on #301
@FreshPhil can you please double-check if the fix for this (#311) works? Thanks!

[2017-08-16 13:32] #301 closed

[2017-08-16 17:59] FreshPhil commented on #301
@bor0  confirmed, #311 resolves this. Thanks :)

[2017-08-21 10:32] galapogos01 commented on #175
Very disappointing outcome.

[2017-08-22 17:52] julienouellette commented on #309
I fixed this issue in the PayPal express checkout settings, by changing Subtotal Miscmatch behavior to Do not send line items to Paypal.

[2017-08-24 08:44] #193 closed

[2017-08-24 15:10] julienouellette commented on #262
I have the same issue, from Canada for the provinces. Could someone help me please?

[2017-08-26 00:15] Grubs commented on #262
Hi just had a customer inform me that it is happening again. I'm running all defaults now with no customisation made to the states code

[2017-08-31 09:07] vestaxpdx commented on #309
Hi

Sorry to comment on a closed issue but I believe this problem not to be fixed.

I am still getting this error on random basket amounts. I do have 'Yes, I will enter prices inclusive of tax' option turned on. I am a UK shop with 20% VAT. I do have my prices entered at a fixed discounted sale amount. Not a percentage discount.

This is definitely to do with the option **Subtotal Mismatch Behavio

[2017-08-31 09:08] bor0 commented on #309
@vestaxpdx that number was indeed causing the issue, but I believe it to be fixed in version 1.4.3. Which version are you using?

[2017-08-31 09:12] vestaxpdx commented on #309
Thanks for the quick reply. I still get it with the latest versions.

PPEC: Version 1.4.3
WC: Version 3.1.2

[2017-08-31 09:15] bor0 commented on #309
@vestaxpdx could you please try changing [this](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/41f3f6ea7b02abfabdcb92507adb5f4565f24618/includes/class-wc-gateway-ppec-client.php#L606) and [this](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/41f3f6ea7b02abfabdcb92507adb5f4565f24618/includes/class-wc-gateway-ppec-client.php#L550) to

[2017-08-31 09:24] vestaxpdx commented on #309
@bor0 I just tried and sadly still no luck. The same PayPal error (10431)

I am still getting **-5.68434188608E-14** on that exact basket amount I mentioned.

[2017-08-31 09:25] bor0 commented on #309
@vestaxpdx sorry to hear, it seems it's similar but possibly unrelated to the original (this) one. Can you please create another issue in this repo with reproduction steps? I'll look into it afterwards. Thanks!

[2017-08-31 09:26] vestaxpdx commented on #309
@bor0 probably not related but what is this?

`[PAYMENTREQUEST_0_SHIPDISCAMT] => -0.01`

Could that be messing with things.

[2017-08-31 09:26] vestaxpdx commented on #309
@bor0 OK will set up a new issue.

[2017-08-31 09:51] vestaxpdx opened #312 "PayPal error (10431): Subtotal Mismatch Behavior Problem"
Hi

I am getting this error during checkout:

`PayPal error (10431): An error (10431) occurred while processing your PayPal payment. Please contact the store owner for assistance.`

**Environment**
-  WordPress V4.8.1
-  WooCommerce V3.1.2
-  WooCommerce PayPal Express Checkout Gateway V1.4.3

**Steps to Reproduce**
- Check enter prices inclusive of Tax in WC -> Settings -> Tax -> Tax Options.
- S

[2017-09-05 14:40] tommyshellberg opened #313 "With PPEC set as top(default) gateway, it is not automatically selected at Checkout."
Checkout payment methods order:
http://cld.wthms.co/HwPTvq

Result when going to Checkout page:
http://cld.wthms.co/YzGTVP

After modifying the order, I made sure to test in an Incognito window since this needs to be tested with a new session. This works properly for other gateways.

Make Stripe default:
http://cld.wthms.co/tbBxpa

Result:
http://cld.wthms.co/GNKzR2

[2017-09-08 09:25] vestaxpdx opened #314 "Notice: Undefined index: items class-wc-gateway-ppec-client.php on line 602"
Hi

If I set Subtotal Mismatch Behaviour as *Do not send line items to PayPal* when the user lands back on checkout complete page I am getting these warnings.

[code]
I am not entirely familiar with the logic of not returning items and if that messes anything up down the line. So don't want to mess making a pull request. But it seems quite easy to dismiss this warning with a `isset($details['items

[2017-09-09 02:03] dheerajsingh2109 commented on #312
Hi I am also getting a similar error. Has posted on https://wordpress.org/support/topic/amount-converted-from-xx-90-to-xx-90000000000001/ and was advised to update this ticket.

On my website somehow some amounts are getting converted from from xx.90 to xx.90000000000001 when clicking on paypal express checkout.
I have tried setting up the subtotal mismatch behaviour to do not send line items to p

[2017-09-11 13:22] mitraval192 commented on #313
it remembers on a session might be causing this issue in the same browser. so, Try the same thing with another user on the new browser or private browser(incognito).

[2017-09-12 11:17] mitraval192 commented on #314
@mattyza

When you get a chance then please check it my PR and let me know if I need to do anything.

Thanks

[2017-09-12 22:29] tommyshellberg commented on #313
I stated:

[2017-09-14 22:55] kristinaplauche commented on #312
@bor0 @mattyza I'm seeing multiple cases of this error as well.

[2017-09-15 01:22] LC43 commented on #228
and, if you get this in Sept. 2017, the correct function is `wc_reduce_stock_levels( $order->get_id() );`

[2017-09-15 05:36] Edragon commented on #312
Hi!
I am the one who open tickets at woo commerce, will switch to communicate here:

The option does not help - >
Subtotal Mismatch Behavior and select “Do not send line items to PayPal” . I see yours is set to that
Problem still existed after this.

Thanks.

[2017-09-15 19:34] #314 closed

[2017-09-20 17:28] khejduk commented on #282
Has this been resolved?

[2017-09-22 05:57] dheerajsingh2109 commented on #312
Hi Edragon,

Yes the problem did not fix even after Subtotal Mismatch Behavior is selected to “Do not send line items to PayPal.

Thanks
Dheeraj

[2017-09-22 07:49] bor0 commented on #312
Since I cannot reproduce this issue (it probably requires a good combination of products and totals), can some of you please try applying this patch and see if it resolves the issue?
[code]

[2017-09-22 07:57] justinbrewer commented on #312
I've just encountered a 10431 error on a website I am a customer of (and that I am not otherwise affiliated with). Pressing F12, it's immediately apparent that they use WooCommerce. It's safe to assume it's this issue.

After a short amount of digging, it appears that [the currency values are being stored as floats](https://stackoverflow.com/q/3730019), and those floats are being passed directly t

[2017-09-22 17:57] WillBrubaker opened #316 "incompatible with One Page Checkout"
Not sure if this belongs here or the opc repo, so starting here. In summary, the PayPal express checkout buttons do not render on a one-page checkout page. See ticket: 695388-zen replicated on a test site as well.

[2017-09-25 16:49] brezocordero commented on #312
Probably related 698122-zd

[2017-09-26 07:03] vestaxpdx commented on #312
Hi @bor0

Thanks for this. Sorry I have only just manage to get to testing this.

I can't see how the `$settings` object is accessed in those functions? As expected the patch is throwing a JSON error because of.

`Undefined variable: settings in /MY_SITE_URL/wp-content/plugins
/woocommerce-gateway-paypal-express-checkout/includes/class-wc-gateway-ppec-client.php`

[2017-09-26 07:05] bor0 commented on #312
@vestaxpdx nice catch! We need to initialize it. I updated the patch.

[2017-09-26 07:11] vestaxpdx commented on #312
@bor0 cool! I Just updated the patch and it seemed to load PayPal with line items fine for my situation.

Can I ask what is the benefit of sending line items? Is it simply a more detailed better experience view for the customer. Is there any disadvantage to not sending line items etc.

[2017-09-26 07:14] bor0 commented on #312
AFAIK it is done so that you can see more details about the order from the PP side, so yeah, a better experience view for the customer.

[2017-09-26 07:18] vestaxpdx commented on #312
Cool thanks for the info, lets hope this fixes everyone's issue too.

Does seem like a nightmare this approach. Would be nice is everyone used the same amount of decimals and you didn't have to do all this extra work. :)

[2017-09-26 10:31] willwade commented on #192
This notification does my nut in. Please change

[2017-09-26 17:54] anemonex commented on #312
Hi all I am also experiencing the 10431 error.

Where do I add the code from 'bor0' please?

Thank you

[2017-09-27 10:04] zamson commented on #312
@bor0 patch seem to work for this problem

[2017-09-27 10:07] bor0 commented on #312
@zamson thank you for verifying. I will do a version release today with this patch included.

[2017-09-27 10:40] #312 closed

[2017-09-28 09:15] #305 closed

[2017-09-28 22:14] mdmoore opened #319 "Extra line item sent even when do not send line items is set"
An extra line item is added even when **do not send line items to PayPal** is set.  Is this expected behavior?

![](http://cld.wthms.co/l3rs6O+)
http://cld.wthms.co/l3rs6O+

![](http://cld.wthms.co/ODfMS2+)
http://cld.wthms.co/ODfMS2

@bor0

[2017-09-29 06:57] bor0 commented on #319
@mdmoore, can you please try applying this patch and see if the issue re-occurs:
[code]

[2017-10-02 13:45] mattyza opened #320 "Redirect to PayPal Wallet on 10486 error"
When PayPal returns a 10486 "funding decline" error, we should redirect to the PayPal Wallet, so the customer can select an alternate payment type from their PayPal Wallet instead. This is proven to improve conversions for stores who implement this.

From PayPal:

A 10486 decline happens when a buyer tries to use a funding source which is not valid (invalid/maxed out credit card). By redirecting t

[2017-10-03 16:25] WPprodigy opened #321 "Gravity Forms Addons + Checkout on Single Product compatabilty"
If you have Gravity Forms Product Addons attached to a product that adds to the cost, it is not transferred to paypal when using the Checkout on Single Product feature. If the original product cost is $0, you end up with an error.

I haven't tested, but we should also check Product Addons for this same issue.

CC @bor0

711181-zd-woothemes

[2017-10-04 03:16] gedex commented on #313
@tommyshellberg With latest `master` branch of PPEC and WC 3.2-rc, I'm not able to reproduce this. Here's the recording of it:

![ppec-313](https://user-images.githubusercontent.com/78313/31158578-cb14e20a-a8ec-11e7-81ec-f3785b2d5910.gif)

Maybe I missed steps here?

[2017-10-04 23:51] fhaps commented on #319
The same issue has been reported in 718729-zd-woothemes.

Is there any update on the patch?

[2017-10-05 05:39] bor0 commented on #319
@fhaps does the currently offered patch solve the issue?

[2017-10-06 20:50] fhaps commented on #319
@bor0 I just tested the current master branch and unfortunately the issue hasn't been resolved. I'm still getting a "Line Item Amount Offset" included in the PayPal email receipts.

[2017-10-11 04:32] fenying opened #322 "A bug about missing paypal session after purchase."
WooCommerce: v2.6.2
PPEC Plugin: v1.4.3
WordPress: v4.7

Recently, I have tried using the PPEC plugin in my WP site. However, sometimes it behave strangely. When I click a Contine button in paypal purchase page, it does redirects to the checkout page, but it tells:

[code]

With the debugger, I found it stopping in file [/wp-content/plugins/woocommerce-gateway-paypal-express-checkout/includes/clas

[2017-10-18 14:12] mikkamp opened #323 "Irish County names don't match"
When I checkout with PayPal Express using an Irish address, I'm required to select a county. However PayPal adds the `CO` prefix in front of the name.

So when I do the purchase I get the following error:

[code]

This is the address as it is returned from PayPal Express:

[code]

The county in WooCommerce is defined without the prefix. See: https://github.com/woocommerce/woocommerce/blob/3.2.1/i1

[2017-10-20 23:15] dsmithweb commented on #316
Hello! Just checking if there's any update on this.

[2017-10-25 17:18] breadadams opened #325 "Can't change the title/description"
The JS is _broken_ and you can't adjust the title/description fields. Not sure how long this has been around for, was recently pointed out to me. The current live plugin displays the following:

![image](https://user-images.githubusercontent.com/5795227/32012763-44052c2e-b9b9-11e7-97e3-a0ce60f07561.png)

I've got a fix in #324

[2017-10-27 00:21] breadadams commented on #319
The issue is still in place, `[Pri] Low` doesn't seem like the correct label for this 😬  (although I gather that's due to OP's absense...).

I'm happy to provide test results, I can do so in the morning. Should I give your latest snippet a go @bor0?

[2017-10-27 05:11] bor0 commented on #319
Yes, please :) thanks!

[2017-10-27 10:13] terencenus commented on #319
@bor0 I tested the patch and it works for me

[2017-10-29 03:15] nickrigby opened #326 "When returning from PayPal, place order buttons says "proceed to payment""
From the cart page, if you choose to checkout with PayPal Express, and successfully authorize the payment, on return to the store to finalize payment, the "place order" buttons says "proceed to payment", which is confusing. It should say "Place order".

Looking deeper into the code, the actual button has no value in the HTML, and is set with JavaScript.

Tested with WordPress 4.8.2, Woocommerce 3.

[2017-10-30 16:46] kenzinghton opened #327 "Missing address on express checckout"
Hello, I'm running 1.4.4 and after upgrading to woocommerce 3.0.1 i'm not able to complete a purchase after logging in through paypal express chechout.  (sanbox mode - woocheckout editor enabled)

It returns an error about the address field is missing, even though the shipping address displays correctly on the page.

Any clues ?

Thanks !
![schermata 2017-10-30 alle 17 45 31](https://user-images.g

[2017-10-30 17:12] #319 closed

[2017-11-01 12:45] mattyza commented on #327
@kenzinghton - Thanks for posting this. Do you have the billing address fields enabled on your checkout?

[2017-11-02 09:48] kenzinghton commented on #327
@mattyza - Thanks for replying,  I found out the issue was generated by a misconfiguration of the [woocommerce checkout editor ](https://theme.co/apex/forum/t/extension-woo-checkout-editor/93 )extension by Themeco. Resetting the plug-in options did the job, just in case anyone else bumps into this.

[2017-11-02 11:36] mattyza commented on #327
Thanks for letting us know, @kenzinghton.

[2017-11-02 11:36] #327 closed

[2017-11-03 05:20] terencenus opened #328 "MiniCart Widget – Modal Popup not displaying"
Recalling the Issue #53,
on desktop when clicking the button on the mini-cart widget, the Paypal In-Context Checkout modal window doesn’t pop up, instead the checkout continues in the same browser window. Instead the modal iFrame should open and a black layer should overlay the website on background, exactly like if the button is pressed on the cart page.

<img width="405" alt="widget" src="https:

[2017-11-04 14:21] iMazed commented on #316
Adding a ping. Ticket 695388-zd-woothemes has been open and waiting on this since October 21st.

[2017-11-07 05:41] james-allan opened #329 "id was called incorrectly error"
We've recently had a customer contact us reporting the following error:

[code]

From that backtrace it appears the problem is coming from this line: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/cb5b79ff6b849a13ad7dd5bb9162385d7cc6b9d0/includes/class-wc-gateway-ppec-with-paypal-addons.php#L101

[2017-11-07 13:35] mattyza commented on #323
Thanks @mikkamp.

@gedex @bor0 - am I correct in thinking that this return value doesn't pass through our middleware?

If so, this is most likely coming from PayPal, and is a change in their response data.

Should we simply remove the "CO " from the beginning of the string?

[2017-11-08 20:05] mdmoore opened #330 "Live only - shipping address is empty"
This is only occurring in live mode for some reason, so you'll need at least 2 live accounts for testing as PayPal will not allow merchants to purchase from themselves.

When checking out with PayPal Express from the cart page, the problem occurs after returning to WooCommerce to confirm payment.  The shipping address is correctly passed through from PayPal and requests are sent to shipping method

[2017-11-11 22:26] breadadams commented on #325
Fyi, this is fixed and ready to merge in #324 @mattyza

[2017-11-13 07:25] #325 closed

[2017-11-13 09:07] bor0 commented on #323
@mikkamp, just to make sure. The data you're getting from the PP side, right?

Here's what I see in the logs as a request (from the plugin side) for the Galway county:
[code]

[2017-11-13 10:36] mikkamp commented on #323
@bor0 The `CO GALWAY` part shows up in the PayPal response. I used the following steps to reproduce the error:

- Add product to cart
- Go to PayPal from the cart page (from the logs it doesn't pass any shipping address to the cart here)
- In PayPal select my shipping address and confirm the payment
- This redirects back to the site and is supposed to pass the shipping address + let the user final

[2017-11-13 15:38] #323 closed

[2017-11-14 06:48] fenying commented on #322
Is it there any plan to fix this bug?

[2017-11-14 14:53] bor0 commented on #330
@mattyza is this a critical? Looks like high, as it's compatibility related.

[2017-11-15 06:15] #329 closed

[2017-11-15 17:22] lindamork opened #334 "Make checkout button translatable value"
[Forum Ticket ](https://wordpress.org/support/topic/please-enable-translation-for-checkout-button-image/)

We've had a request, as follows:

Please change the following to a translatable value for WPML and other plugins.

`$express_checkout_img_url = apply_filters( 'woocommerce_paypal_express_checkout_button_img_url', sprintf( 'https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-

[2017-11-15 17:25] geeklore commented on #330
ZD-773115 is asking about the status of this bug.

[2017-11-17 07:22] zizsoft opened #335 "Order detail not match in Paypal after apply coupon"
after v1.4.4, when apply coupon to order, the discount amount will add into details and then in the total, it would be discount x 2. attached an sample

the amount is $124 in total, and i apply a discount $24.8, it would be $99.20

but you would see, it will first 124 + 24.8 = 148.80
and then 148.80 - 49.6 = 99.20

which is a incorrect.

![untitled](https://user-images.githubusercontent.com/748191

[2017-11-17 09:11] mattyza commented on #335
Hi @zizisoft,

Are there any taxes being sent along with the order? I would assume that the coupon is applying to the order total, with taxes included.

[2017-11-17 09:59] mattyza commented on #330
Agreed, @bor0.

That said, it seems quite high on the "high" list, as it's performing additional requests where not needed.

@mdmoore - is the second request overriding the first (valid) request? I ask, as that would bump this to critical for sure, if a customer was unable to checkout and have shipping rates.

[2017-11-17 10:42] zizsoft commented on #335
hi mattyza
even i disable tax, it also the same result, seems it is not problem related to tax.

[2017-11-20 09:20] mattyza commented on #335
@roykho - have you perhaps been able to reproduce this during your tests?

@zizsoft - which version of the WooCommerce Stripe integration are you running, and with which version of WooCommerce?

[2017-11-20 09:29] zizsoft commented on #335
@mattyza , woocommerce plugin v. 3.2.3, woocommerce paypal express checkout gateway plugin is 1.4.5, i also use 1.4.3 - 1.4.4 also has this problem
but in 1.4.0 it would not have this problem.

[2017-11-20 16:25] adeelejaz opened #336 "Error 10412 when using PayPal Express"
When a customer returns back to our website to agree to terms and checkout (from the PayPal website), hitting the Submit button returns the following error:

PayPal error(10412): An error (10412) occurred while processing your PayPal payment. Please contact the store owner.

The order is created with a pending state but there is no record on the PayPal side. We have the latest version of Woocommer

[2017-11-22 01:54] roykho commented on #335
@mattyza I have not tested this extension no only PP Advanced and PP Payflow

[2017-11-22 14:54] pawelkmpt opened #337 "PayPal error 10426"
PayPal error 10426 occurs when coupon is applied on the cart page and _Check out with PayPal_ is clicked on the cart page. Without coupon everything works fine.

When coupon is applied and user checks out with PayPal on checkout page, error does not occur.

Tested plugins versions:

- WooCommerce PayPal Express Checkout Payment Gateway: 1.4.3, 1.4.4, 1.4.5
- WooCommerce: 3.2.3, 3.2.4

[2017-11-22 15:24] pawelkmpt opened #338 "Is the plugin compatible with WooCommerce Subscriptions?"
We've been using WooCommerce PayPal Express Checkout Payment Gateway on the client site for a long time and today while doing bug research we discovered that it's marked as not compatible with WooCommerce Subscriptions in the following table: https://docs.woocommerce.com/document/paypal-extension-comparison/#section-2

I didn't find any deprecation note in changelog though. Readme says _PayPal Exp

[2017-11-23 10:15] adeelejaz commented on #336
Updating to WooCommerce 3.2.5 has fixed the issue.

[2017-11-24 00:50] lvan88 opened #339 "Paypal Error 10431"
Hi there,

Wordpress v4.9
WooCommerce v3.2.5
WooCommerce PayPal Express Checkout Gateway v1.4.5

After I apply a 15% coupon code, I get paypal error 10431 only if I click on the "checkout with paypal" link. If I click on the "Proceed to Checkout" link first --> paypal, it works fine.

![image](https://user-images.githubusercontent.com/33943711/33191463-4ef2456a-d06e-11e7-8606-e3a121bac286.png)

Th

[2017-11-24 01:46] #339 closed

[2017-11-24 02:56] zizsoft commented on #335
any update? as this wrong information shown in paypal cannot match to woocommerce order details which make operation and account department has some confusion.
can put it to a urgent fix on this issue?

[2017-11-26 14:10] melindahelt commented on #330
@bor0 @mattyza Customer checking in again and is very unhappy with the time taken on this.

Says:

Any ETA on this...

[2017-11-27 10:33] bor0 commented on #330
I wasn't able to reproduce this. If it only happens on live environment it will be tricky for me to reproduce.

As far as the severity of this issue:
1. It's a compatibility issue (if it turns out to be an issue at all)
2. Per "When checking out with PayPal Express from the cart page"
It seems a workaround until we resolve it is to use the following configuration:
[ ] Enable PayPal checkout on the

[2017-11-27 13:23] melindahelt commented on #330
@bor0

Compatibility issue with what? I'm new to this ticket, but it looks like standard plugin conflict tests were completed.

I'll pass along the workaround to the user now

[2017-11-27 14:01] bor0 commented on #330
@melindahelt potential compat issue USPS/FedEx shipping extensions, although I wasn't able to reproduce.

[2017-11-28 14:41] gateway-davidtouchette opened #340 "Percentage Coupon usage causes PayPal error 10413 : The totals of the cart item amounts do not match order amounts"
Usage of a percent off coupon causes discrepancy in cart total and user cannot checkout!  We have had to disable PP checkout while our holiday coupons are active.

I have tried updating our staging env to latest WooCommerce (v3.2.5) + WooCommerce PayPal Express Checkout Gateway (v1.4.5) but the issue is exactly the same.

Probable duplicate of #335

### PROD Details
WordPress v4.8.3
Divi Theme v3.

[2017-11-28 23:35] DragosMocrii commented on #340
I created a pull request for fixing this issue https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/341

[2017-11-29 12:57] adeelejaz commented on #336
This is happening again now. Even with the latest version of Woocommerce and PayPal Express Checkout plugin

[2017-11-30 09:02] mattyza commented on #338
Hi @pawelkmpt. Yes, this gateway supports WooCommerce Subscriptions.

Happy selling!

[2017-11-30 09:02] #338 closed

[2017-11-30 18:51] tommyshellberg commented on #334
The display_paypal_button() method also has $express_checkout_img_url and would need to be changed.

However, I'm not sure I totally understand the request. Do we want the URL to be changed based on the geographic location of the visitor?

[2017-12-01 16:21] #340 closed

[2017-12-04 05:40] SiR-DanieL commented on #330
@mattyza what are we gonna do with this? The customer is still unhappy and complaining, but @bor0 cannot reproduce the issue.

[2017-12-04 13:18] breadadams commented on #337
is this a dup. of #340 @bor0?

[2017-12-04 13:21] breadadams commented on #335
There's been an update recently @zizsoft - #341 - does this resolve it for you??

[2017-12-04 14:12] breadadams opened #342 "Deprecated WC cart method"
[code]

[2017-12-04 14:14] breadadams opened #344 "No mention of discount in PayPal window"
After the recent fix in #341, I [mentioned](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/341#issuecomment-348480996) that the details weren't showing on the PP order:

![PP Express order details](https://user-images.githubusercontent.com/5795227/33482599-1d92227e-d69a-11e7-818d-01860bfb9b67.png)

[2017-12-04 18:04] masterbeat99 commented on #330
@SiR-DanieL , @bor0 , @melindahelt, @mattyza

If you would all please pay attention to @mdmoore 's comment at the start of this thread, you CANNOT test this in sandbox mode.  the problem doesn't appear in sandbox mode and thats why you can't reproduce it.

If you turn off sandbox mode and use a live API (which is what happens in the REAL WORLD), then when a customer is returned from Paypal to the

[2017-12-04 18:07] masterbeat99 commented on #330
It's kind of frustrating for @bor0  to simply reply "i wasn't able to reproduce this" when not doing what @mdmoore  clearly states at the top - that you have to test it in a live environment.  We started the whole ticket with the fact you can't reproduce in sandbox, so he can't reproduce it and removes himself for the issue?

[2017-12-04 18:20] masterbeat99 commented on #330
@mdmoore , @SiR-DanieL @bor0 , @melindahelt  @mattyza  @LaurenaRehbein  @stevetested

Also note that you cannot be logged in as admin to Wordpress dashboard to test, for some reason that inconsistently shows the problem and sometimes doesn't.  We agree with you it's hard to reproduce properly in a test environment, but the problem is it DOES exist in a live environment.

1.  Ensure you are using y

[2017-12-04 19:53] bor0 commented on #330
In your reproduction steps you have:

In further isolating the issue, does the issue happen when you checkout from the checkout screen instead? (See https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/330#issuecomment-347141869 as a workaround until we find a fix)

[2017-12-05 10:54] masterbeat99 commented on #330
@bor0

The workaround is not a viable option for us or our clients.   When “pay with Paypal” is not enabled on the cart, our conversion rate drops 50%.   People don’t want to go to Checkout and fill in details to find Paypal as an option at the bottom.

There is a reason it (and your plugin) is called Paypal EXPRESS.

If you look at the very first comment from mdmoore at the top of Github, he perf

[2017-12-05 11:21] mattyza commented on #330
@masterbeat99 - Thank you for your detailed feedback on this.

I've adjusted the labels to indicate this is a critical issue, which is our top priority to resolve.

We'll report back here as soon as we have further findings from tests with live accounts.

cc @bor0 @mdmoore

[2017-12-05 11:41] bor0 commented on #330
@masterbeat99, I never claimed the bug didn't exist, just that it's tricky for me to reproduce.

Let's keep the discussion here on a technical level, for the sake of easily resolving the issue.

[2017-12-05 18:27] bor0 commented on #330
We spent quite some time PP-ing on this today together with @gedex. We may have found the culprit, but it seems it is a bit more complex than we thought, so I am hoping to continue tomorrow and possibly find a fix.

@masterbeat99, could you please try disabling geolocation in WooCommerce > Settings and let us know if that makes the issue go away? You can turn on geolocation again after.

This sugg

[2017-12-05 19:20] masterbeat99 commented on #330
@bor0  Thanks bor.. trust me, i've tried to keep it at a technical level but you can imagine the trustration to check in on this ticket every week or so since it's original creation TWENTY SEVEN days ago (which was also another week after we first reported it) and to keep being told (as recently as my colorful commentary yesterday) by Automatic/Woocommerce support that "this is just you, only you,

[2017-12-05 22:29] newlocalmedia commented on #192
Deactivating the plugin now results in it being reactivated for you and the nag notice reappears. This is *really* annoying.

[2017-12-06 11:30] #330 closed

[2017-12-07 00:28] LaurenaRehbein commented on #334
We've had another enquiry about this. Even when the site is translated to French, this image retains the English words:

![http://cld.wthms.co/xKMDri](http://cld.wthms.co/xKMDri+)

828104-zen

[2017-12-07 14:19] #322 closed

[2017-12-07 14:32] gedex commented on #342
This has been fixed in https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/commit/284f9f296b95bf0a7a2e6f0e33db5da49f8f99a4.

[2017-12-07 14:32] #342 closed

[2017-12-07 15:29] #192 closed

[2017-12-07 15:30] gedex commented on #192
Thanks for the feedback everyone! The admin notice should be dismissible in 1.4.7.

[2017-12-07 22:53] dechov opened #350 "Settings: Impossible to open API credentials after saving"
After clicking "Save changes" without credentials, you can't then manually enter credentials because the toggle behavior fires twice every time:

![api-credential-input-double-toggling](https://user-images.githubusercontent.com/1867547/33742252-72d2457c-db75-11e7-9e78-321c970731fa.gif)

This happens because the settings appear to be initialized twice during these page loads, and so the [event hand

[2017-12-13 07:18] #292 closed

[2017-12-13 21:48] #205 closed

[2017-12-15 11:36] #300 closed

[2017-12-15 12:32] danjjohnson opened #356 "Link PayPal account button not working"
Reported in 824220-zen

Steps to reproduce:

- Go to PayPal Express settings
- Click the blue 'Setup or link an existing PayPal account' button.
- Log into PP and follow the instructions.

Once done, there is no indication (as far as I can tell) that the account is connected. The blue button is still there in the settings, and it lets you go through the whole process again.

It makes no difference

[2017-12-17 19:58] stephhjacq commented on #316
@mattyza any updates on this one? thanks

[2017-12-18 06:29] runningjohan opened #357 "The product image set is not working."
After the update the product image set is not working.

Meaning that when I click on the product image set and chose the image the selected image is not showing on the productpage...

I de-activate the pluging and problem solved...

So please fix this problem soon !

[2017-12-20 23:12] dsmithweb opened #358 "State Field is not required"
This holds true even if PayPal Express is not the payment gateway used-- if the PayPal Express plugin is active, the State field is no longer required for U.S. customers.

This means that careful customers can e.g. avoid state-based taxes by filling out all the shipping information except the state field and still place an order:

![image](https://user-images.githubusercontent.com/20285748/3423312

[2017-12-22 10:02] mattyza commented on #316
Labeling this as a high priority enhancement, as the checkout screen and One Page Checkout are seen as different screens by WooCommerce, so we'd need to explicitly register this screen as an area where we'd like to show the PayPal buttons.

[2017-12-22 19:10] electricAlchemy commented on #282
I am still having issues with this as well. It looks like maybe the number is sent when I have "Send shipping details to PayPal instead of billing" unchecked, but when it is enabled the phone number does not come through?

[2017-12-23 00:05] raestanton opened #359 "Free Products? Option to display either Woo Checkout or PayPal Express Checkout buttons based on cart total?"
I want to be able to "sell" free products using PayPal Express Checkout ... works if there are other products with value, but not if only one free product.

Is it possible to display the regular WooCommerce Checkout button *instead* of the PayPal Express Checkout button if cart total equals $0.00?

Thanks
Rae

[2017-12-23 08:39] raestanton commented on #336
I'm getting the same error message, how did you resolve please?

[2017-12-26 17:12] adeelejaz commented on #336
@raestanton I found the issue to be duplicate invoice numbers that get sent to PayPal. There were already PayPal transactions with same invoice numbers so all I did was bump up the post id autoincrement to make sure we get completely new set of invoice numbers.

[2017-12-27 10:47] iMazed opened #360 "Single product button redirects to empty cart"
User: 868331-zd-woothemes

Using a vanilla WooCommerce install with no other plugins active and Storefront as the active theme.

**What I expected**
I expect the PayPal Express button on a single product page to put the product in the cart and direct me to PayPal's checkout.

**What happened instead**
When clicking on the PayPal Express button when my cart is empty, the PayPal Express button only

[2017-12-29 23:44] dechov opened #361 "WooCommerce setup wizard yields broken PPEC checkout button by default"
When enabling this gateway via the WooCommerce (3.2+) setup wizard's "Payment" step, the PPEC settings are initialized with `enabled` set to "yes". This results in the PPEC checkout button rendering in a broken state, since other necessary settings (such as credentials and button size) are missing.

On top of that, the admin notice (prompting the user to connect a PayPal account) doesn't appear (b

[2018-01-02 09:03] madeincosmos opened #362 "wp_enqueue_media called too early"
#### Affected tickets

876228-zen

Quoting the ticket:

Indeed, the method is called in gateway constructor:

https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/master/includes/abstracts/abstract-wc-gateway-ppec.php#L69

[2018-01-02 12:12] mattyza commented on #357
Hi @runningjohan.

Thank you for your request here.

Would you mind please providing step by step instructions for reproducing the product you're testing with? The payment gateway and product images shouldn't ever interact, so this sounds like quite an irregular issue.

I'd suspect that there is a JavaScript conflict on the page you're loading on the frontend of your store. This is most likely cau

[2018-01-02 13:05] jpat82792 opened #363 "woocommerce_cart_calculate_fees action hook runs multiple times on checkout?"
I am curious why the woocommerce_cart_calculate_fees action hook runs multiple times on checkout? This behaviour seems strange to me as the standard paypal gateway and stripe only run it once.

The reason I noticed this behavior is it is causing issues with a fee calculation that depends on data from the $_POST variable. The first running of the woocommerce_cart_calculate_fees shows the fee calcul

[2018-01-04 01:26] isaaclubow commented on #358
The issue title may be misleading: the State field is not required as long as the plugin is active. Setting a "default customer location" helps mitigate but doesn't solve the problem, because one can still submit the field empty even if it were auto-filled to begin with.

[2018-01-04 22:21] hennroja commented on #357
I can confirm that verison 1.4.7 works but 1.5.0 does not !!!

This set of plugin works !

After updating "WooCommerce PayPal Express Checkout Gateway" I was not able to update the feature image.

[2018-01-05 08:12] bytesource commented on #356
I cannot confirm this behavior (WooCommerce version 3.2.6, WordPress version 4.9.1)

[2018-01-05 19:13] alexc11 commented on #337
Just for information.

I had the same problem and could solve this problem by changing the setting in WC - my prices exclude vat. and chage the productprices to without vat.

Now the shop is working with paypal express and coupons.

[2018-01-07 22:29] adrfonseca commented on #357
I can confirm that with "WooCommerce PayPal Express Checkout Gateway" v1.5.0 it's not possible to update the featured image.
Temporarily disabling the plugin it's the only way to update the featured image of a product.

Please fix this.

[2018-01-10 09:14] Kiway-it commented on #357
Same problem here, v1.5.0 prevent from setting the featured image

[2018-01-10 09:23] runningjohan commented on #357
Solution:

1) de-activate the pluging WooCommerce PayPal Express
2) Set a featured image in your product page
2) re-activate the pluging WooCommerce PayPal Express

and problem solved...

So we hope the plugin builder can fix this problem soon

[2018-01-10 15:40] mikkamp commented on #362
Another ticket where this same conflict was reported: 883255-zen

It does seem that the wp_enqueue_media is being called too early. In WooCommerce it is loaded after the correct hook, see: https://github.com/woocommerce/woocommerce/blob/3.2.6/includes/admin/class-wc-admin-assets.php#L27

[2018-01-11 21:02] yukikatayama opened #367 "PPEC not showing when Subscriptions has a trial period"
Ticket: 892547-zd-woothemes
2453478-zen

Speaking with Prospress, I believe this is a bug, but want to double check this is not expected behavior.

Tested with PPEC 1.5, WC 3.2.6, and Subscriptions 2.2.16.

**What was expected:**

With a subscription that either has a free trial or synchronized renewals (so initial transaction is $0), PPEC should show.

**What happened instead**

With a subscripti

[2018-01-14 19:12] vyskoczilova commented on #362
Another bug reported here: https://wordpress.org/support/topic/cant-set-featured-image-due-to-this-plugin/#post-9863688

[2018-01-15 09:44] pharmak0n commented on #362
Same problem here, I cannot set thumbnails. When I deactivate the plugin thumbnails starts working again. Please fix it, it's impossible to work with this problem

[2018-01-15 10:58] vestaxpdx opened #368 "Instant Payment Notifications sent to the following URL(s) are failing:"
Hi

We suddenly starting getting these emails from PayPal.

Instant Payment Notifications sent to the following URL(s) are failing: https://MY_DOMAIN/wc-api/WC_Gateway_PPEC/

Has anyone experienced this issue before? We have not changed any code recently. So it seems odd for it to start happening.

Cheers

[2018-01-15 18:42] ryelle commented on #334
We've had another user write in requesting this be translatable. My reading of the tickets is that the button should be translated using the core translation functions, for both non-english sites and WPML support. 901159-zen

[2018-01-15 19:19] jessepearson opened #369 "PayPal Credit not working correctly"
When enabling PayPal Credit, weird things happen:

![](http://cld.wthms.co/x8LyJU+)
Image Link: http://cld.wthms.co/x8LyJU

![](http://cld.wthms.co/qIujYI+)
Image Link: http://cld.wthms.co/qIujYI

I believe this is due to the gateway itself not having an ID set. I believe the fix *might* be to have `WC_Gateway_PPEC_With_PayPal_Credit` extend `WC_Gateway_PPEC_With_PayPal` instead of `WC_Gateway_PPE

[2018-01-15 21:11] dechov commented on #361
As pointed out by @jeffstieler, this could be fixed — to this extent the issue is specific to the WC setup wizard payment screen opt-out — by installing and activating the PPEC plugin but simply not setting `enabled` (except in the new flow in which WCS is installed and requests are proxied: https://github.com/Automattic/woocommerce-services/pull/1254).

We plan to go ahead with that change, at wh

[2018-01-16 11:45] tommyshellberg commented on #334
If I'm reading this correctly, the Express Checkout API has a `locale` parameter which will dynamically change the button output to the requested locale language.

https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/customize-button/

<img width="812" alt="screen shot 2018-01-16 at 12 44 23 pm" src="https://user-images.githubusercontent.com/6723003/34987319-050c0

[2018-01-16 16:03] ryelle commented on #334
This button isn't be generated using that method though, this is just an image link. Switching to that method be a good way to let users have a locale-specific button though 🙂

[2018-01-16 16:06] tommyshellberg commented on #334
Yeah, I haven't dug through the entire code but as far as I can tell that image link is only used for the button generated on product pages anyways.

https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/0d757bc133b6d57af4a426373a164311f90fa86a/includes/class-wc-gateway-ppec-cart-handler.php#L130

[2018-01-16 16:13] ryelle commented on #334
It's also used on the checkout page:

https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/0d757bc133b6d57af4a426373a164311f90fa86a/includes/class-wc-gateway-ppec-cart-handler.php#L155

[2018-01-16 16:22] ryelle opened #370 "Error submitting to PayPal when a header image is set"
A user wrote in about [this issue](https://www.paypal-community.com/t5/About-Business/Error-Code-10437/td-p/1227076) – users are encountering this error when a header image is set:

It looks like the cause is the length of the image string passed to the API, it should be [a max of 127 char long](https://developer.paypal.com/docs/classic/api/errors/#10437), and the string my test site passed along

[2018-01-17 19:47] dechov commented on #361
That change (https://github.com/woocommerce/woocommerce/pull/18497) has now been merged and will ship with WooCommerce 3.3.

[2018-01-18 04:31] madeincosmos commented on #362
Also reported in 906466-zen. When used in combination with WooCommerce POS Pro, product feature images can't be set. Bumping priority to high as it's affecting more customers.

[2018-01-19 07:35] dwainm commented on #368
Hi @vestaxpdx

Please get in touch with our support team for assistance with this issue:
https://woocommerce.com/my-account/create-a-ticket/

[2018-01-19 07:35] #368 closed

[2018-01-19 07:37] dwainm commented on #363
Hi @jpat82792

Please get in touch with our support team for assistance with this issue:
Public: https://wordpress.org/support/plugin/express-checkout
Premium: https://woocommerce.com/my-account/create-a-ticket/

[2018-01-19 07:37] #363 closed

[2018-01-19 20:58] fhaps opened #371 "Logo Image not displaying in PayPal Checkout page"
**Tickets affected:**

909582-zd-woothemes

**Expected behavior:**

I expected the logo image setup in the plugin's settings to show up in PayPal's Checkout page.

**Actual Behavior**

Image doesn't display, only the "Brand Name" shows up.

**Steps to reproduce:**

1. Go to **WooCommerce > Settings > Checkout > PayPal Express Checkout** and upload an image measuring 190 x 90 pixels in the **Logo I

[2018-01-22 09:04] formosattic commented on #371
In case this is relevant to the issue, the **Customizing Express Checkout - NVP/SOAP** method is now deprecated: https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECCustomizing

[2018-01-22 12:14] Luminus commented on #316
Hey @mattyza I know this is an enhancement but your last comment indicates that it is a high priority enhancement so I'm erring on the side of pinging for prioritization.

Please let me know if things like this should be treated like other enhancements per [this post](https://woosupport.wordpress.com/2018/01/18/communicating-with-customer-on-bug-fixes/) instead.

[2018-01-23 23:38] dechov opened #374 "Typo in activation hook"
The condition in the activation hook contains a typo (`setings` rather than `settings`) causing the _if_ block to be executed every time:

https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/371ace32b7792fb4aeabb82834106420ac397d62/includes/class-wc-gateway-ppec-plugin.php#L309-L314

Not sure what circumstances the _else_ clause was intended for, so I'm not sure quite h

[2018-01-25 12:05] mattyza commented on #316
@Luminus - I'd treat this per our prioritisation process. This will definitely require some inspection, and shouldn't be closed without a report on what we can do to mitigate this.

I'd like to see the buttons displayed on OPC checkout screens, personally.

I wouldn't put a specific ETA to this, at this stage.

[2018-01-29 17:33] dechov commented on #371
It works for me with latest master (after https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/375) — however:

a) only in Live environment, not Sandbox

b) the size is scaled down to 150x150, due to the 'thumbnail' size being grabbed from the media library ([reference](https://codex.wordpress.org/Post_Thumbnails#Thumbnail_Sizes)). Besides making the logo appear a bit to

[2018-01-30 05:41] malsubrata opened #376 "403 Error when i try to set feature image for any post."
If I call `WC()->payment_gateways()->payment_gateways` in `admin_init` hook then there is a 403 error in when i triad to set feature image for any post or post type.

Please help.

Thanks in advance!

[2018-01-30 06:22] Mapteg34 opened #377 "Order cancel fail (invalid _wpnonce)"
Duplicate of https://github.com/woocommerce/woocommerce/issues/18638

WC 3.2.3 + WP 4.8.5

Step to reproduce:

    Got to checkout with unauthorized user
    Select paypal express, fill form, continue to paypal site
    On paypal site change "Cancel and return" link

In that case we go back to site, we is authorized, but order not cancelled because cancel_order() not working (_wpnonce check fail).

[2018-01-30 06:41] bor0 commented on #371
We send the same params for both live/sandbox, so I imagine this is a PP limitation.

[2018-01-30 13:06] malsubrata commented on #376
I have found the error!
I believe that we can't call `wp_enqueue_media()` function directly to `WC_Gateway_PPEC` class constructor.
That's why it show 403 error when ever I want to set feature image for any post

[2018-01-30 20:14] melindahelt commented on #335
hi @mattyza checking in on this issue again.

Have a user zd-930200 where the user is experiencing the same issue when coupons are applied to orders.

WooCommerce 3.2.6, PayPal Express Checkout 1.5.0, taxes are not enabled site wide (no tax is ever charged) and shipping is not enabled site-wide (product is a workshop).

PayPal sent to customer
![](http://cld.wthms.co/bZtQ7r+)Image Link: http://cld

[2018-02-01 01:18] ablears opened #378 "'Call to a member function get() on null' when exporting orders"
I use Store Exporter Deluxe to export orders. My exports have started failing with this error:

This is with v1.5.1 of this plugin and WordPress 4.9.2.

Perhaps you could use method_exists() to check get() exists before calling it.

[2018-02-01 12:01] vesceram opened #379 "Paypal forcing customers to register paypal account"
Hello
I have business paypal account and this plugin for payments and choose Landing Page: Billing (non-paypal account) but on checkoutnow paypal page customer must "Create your paypal account" to make payment just with credit card??

[2018-02-01 15:29] nicomollet commented on #378
Same problem on other WooCommerce functions:
With `add_filter( 'woocommerce_defer_transactional_emails', '__return_false' );` the cron events have the same PHP fatal error.

[2018-02-01 18:09] mikeyarce commented on #335
Any news on this yet?

[2018-02-02 10:31] InoPlugs opened #380 "Plugin conflict: Product image and post featured image cannot be set"
Plugin https://github.com/woocommerce/woocommerce-additional-fees

Bug reported by 2 users and can be reproduced when the 2 plugins are active but not when activated seperatly:

- Create a new product
- Publish it
- Click "Set Product Image"
- The media selector popup opens with   **"Featured Image"** instead of "Product image"
- On my install an additional white image appears in the popup already

[2018-02-02 21:07] FreshPhil commented on #335
I was able to confirm the behaviour that @melindahelt  mentioned above.

In PayPal the "Order Details" section is adding the product price to the coupon amount. Then the discount is later doubled to bring the order total back in line.

![](http://cld.wthms.co/cjqpdc+)
Image Link: http://cld.wthms.co/cjqpdc

In this example the product was $17.97 and a 50% discount coupon was applied. You can see a

[2018-02-03 13:25] stefanduerrenberger commented on #362
Same problem in combination with the WooCommerce Pay for Payment plugin.

[2018-02-05 07:04] madeincosmos commented on #362
One more user reporting this in 934426-zen.

[2018-02-05 10:35] malsubrata commented on #376
Any update for me? I need to fix this please help me. You can refer to [Function Reference/wp enqueue media](https://codex.wordpress.org/Function_Reference/wp_enqueue_media) for more details.
Thank you.

[2018-02-07 00:29] ahmed-sigmalux opened #381 "Slow queries"
Per Query Monitor, I'm seeing the following slow queries on every single admin page:

[code]

Are these queries necessary on every page? Is there any way to disable them?

[2018-02-07 08:30] hannahswain opened #382 "Review step in communication, but skipped"
When checking out using PayPal Express, the customer is shown the message:

`you'll be able to review your order before you can complete your purchase`

Example:

![PayPal](http://cld.wthms.co/WpPlQ1+)

We've been able to reproduce this on the customer's site, both live and in PayPal sandbox mode, as well as on multiple sandbox sites.

The customer reached out to PayPal and received the following

[2018-02-07 12:41] Vmadmax commented on #360
Same issue here

[2018-02-07 19:55] dechov commented on #356
I and another member of my team have run into this issue, but after a change on the PayPal side, it now works well and AFAIK there should no longer be a problem.

[2018-02-08 01:48] malsubrata commented on #376
@mikejolley Please have a look at this issue because it causes conflict with other plugins. Looking forward to your co-operation regarding this.
Thank you.

[2018-02-08 05:00] priyadilsha commented on #292
it's still not working. even though it mentioned in the changelog.

[2018-02-09 11:08] iljamm commented on #378
having the same issue

`[09-Feb-2018 04:15:04 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get() on null in /srv/www/projectname/current/web/app/plugins/woocommerce-gateway-paypal-express-checkout/includes/class-wc-gateway-ppec-checkout-handler.php:704
Stack trace:
#0 /srv/www/projectname/current/web/app/plugins/woocommerce-gateway-paypal-express-checkout/includes/abstracts/abs

[2018-02-09 12:10] raindanceharvey commented on #357
Having the same problem here. V1.51

Is there a fix yet?

[2018-02-09 16:46] steven-klein opened #383 "Woocommerce Subscriptions Support for Switching Payments Failing on $0 order."
This plugin registers support for woocommerce subscriptions payment method change with the ``subscription_payment_method_change_customer`` flag.  According to [woocommerce subscriptions documentation](https://docs.woocommerce.com/document/subscriptions/develop/payment-gateway-integration/#section-17) just needs to support a $0 initial total.

Im currently expecting switching from one payment metho

[2018-02-10 08:52] shirokoweb opened #384 "Products not returned to inventory after order cancelled"
## Description:
Customers shopping from Android and trying to pay via Paypal

## Issue:
- They are unable finalize transaction on Paypal (either with their ppl account or with CC).
- Transaction times out, basket is abandonned.
- Items from that basket are not returned in inventory.

## Steps to reproduce:
1. Add item to basket (inventory go down from z to y)
2. Try paying using Paypal (Session ti

[2018-02-13 20:51] zwiesman31 commented on #382
@bor0: Is there a way we can prioritize this fix?

[2018-02-13 22:08] laurendavissmith commented on #292
@bor0 can you retest this one when you get a second?

[2018-02-14 08:49] bor0 commented on #292
@priyadilsha what is not working? Can you please provide more context?

[2018-02-15 08:44] #382 closed

[2018-02-15 12:44] tommyshellberg commented on #356
@danjjohnson can you retest this? That way we can close this out if it's working now.

[2018-02-16 11:01] mikkamp opened #386 "Billing address is not required even if PayPal Express is disabled"
PayPal Express checkout has a feature where the Billing fields are set to non-required fields. This works great when this needs to be used for PayPal Express. However this is always turned on as soon as the plugin is active. Even if we disable the PayPal Express as a checkout option, it still modifies the billing fields.

Should we add an additional check there to make sure the checkout option is

[2018-02-16 18:38] mikeyarce opened #387 "Subscriptions Support: unable to purchase from single-product page"
1. Create a Subscription product
2. Make sure PPEC is enabled
3. Go to the Single Product page
4. Click "Check out with PayPal"
5. You will go to the Cart page without anything happening

[2018-02-18 04:37] rmuthukrishnan commented on #378
Thank you for this plugin.

I also saw this stack trace.  I am unable to reproduce it. But the fix appears to be check the session. It is not tested as I could not reproduce it.

[12-Feb-2018 07:15:05 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get() on null in /var/www/html/efs/wordpress/store/wp-content/plugins/woocommerce-gateway-paypal-express-checkout/includes/class-wc-ga

[2018-02-20 08:33] #387 closed

[2018-02-20 13:50] WillBrubaker opened #389 "Fatal"
in ticket: 954464-zen we are seeing a fatal for

[code]

No idea what could be the cause of that (crawler maybe??) and I do not believe that it is the cause of the core problem reported in the ticket but I reckon there should be some sort of conditional to prevent it from fataling.

[2018-02-20 17:07] jrick1229 commented on #378
We (Prospress) are receiving this error as well from customers whose renewal orders are not occurring:

`unexpected shutdown: PHP Fatal error Uncaught Error: Call to a member function get() on null in /home/weebox11/public_html/wp-content/plugins/woocommerce-gateway-paypal-express-checkout/includes/class-wc-gateway-ppec-checkout-handler.php:704
Stack trace:
#0 /home/weebox11/public_html/wp-content

[2018-02-20 19:03] zandyring opened #390 "Updating shipping address after being passed to PayPal won't draw in new shipping costs"
If you have two shipping zones, and you purchase from Zone A ($9.50 to ship here), but are actually shipping to Zone B ($3.50 to ship here), PayPal will let you change your address in the PayPal screen, but it won't update the price to reflect any shipping changes.

In an example from the Forums:

When I set up my Shipping so that I have two zones – one for Germany at 3.50, and one for anyplace no

[2018-02-20 20:40] jrick1229 commented on #378
We're still getting man tickets rolling in regarding this error, so it seems like it is affecting quite a few sites. We would appreciate urgency on this problem.

[2018-02-20 22:39] #378 closed

[2018-02-21 13:35] danjjohnson commented on #356
Yes, it seems fine now. After logging into PayPal I see this:

![image](https://user-images.githubusercontent.com/1990037/36482688-0380c932-170c-11e8-834b-887dd2df4010.png)

Then I'm redirected back to my dashboard and can see my credentials there.

Closing this for now.

[2018-02-23 07:36] malsubrata commented on #376
@mikejolley it's been 25 day's I have created this thread but there is nobody to look into this issue really upsets!

[2018-02-23 10:46] mikejolley commented on #376
cc @laurendavissmith

[2018-02-26 08:06] bor0 commented on #389
This is fixed in a4beabf9. Duplicate of #378.

[2018-02-26 08:06] #389 closed

[2018-02-27 21:37] yukikatayama commented on #362
Checking in to see if there's any movement? Thanks!

[2018-02-27 21:42] laurendavissmith commented on #362
@yukikatayama @madeincosmos We have an open PR for it I just need to test it.

https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/pull/392

Also looks like #376 is a dupe of this one

[2018-02-28 22:11] #376 closed

[2018-03-01 05:56] sitiwebitalia commented on #357
Have the same problem, with WooCommerce PayPal Express (1.4.3) work, but WooCommerce PayPal Express (1.5.3) not work feature image in woocommerce.

[2018-03-01 12:36] mensmaximus commented on #386
As you can see from the referenced issue setting the 'address_1', 'city', 'postcode' and 'country' to not required is a problem in some countries due to tax laws requiring the full address to be printed on an invoice.

Shops in Germany which do not use the paypal express feature (no express checkout at a single product or the cart) but use paypal as a standard payment gateway (at the woocommerce c

[2018-03-01 15:24] laurendavissmith commented on #357
@sitiwebitalia We just merged an issue into master late yesterday that should resolve this issue since it looks like we have duplicate issues for this.

#376 is the issue that was closed

[2018-03-05 12:43] bor0 commented on #374
We initialize settings:
https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/371ace32b7792fb4aeabb82834106420ac397d62/includes/class-wc-gateway-ppec-plugin.php#L340

This check is supposed to prevent from re-initializing.

[2018-03-05 14:35] #374 closed

[2018-03-06 18:49] NickGreen commented on #386
I'll add my voice to this issue. We've just had a support customer with all virtual products who, because this option is unchecked by default, was getting an error for all customer who were checking out without their shipping address.

This could've been avoided by checking that option by default on install.

[2018-03-06 22:12] amandasjackson commented on #362
@bor0 just wondering about a milestone, thanks

[2018-03-06 22:57] bor0 commented on #362
Fixed by #392.

[2018-03-06 22:57] #362 closed

[2018-03-09 08:59] formosattic commented on #386
Hi @budzanowski, could you have a look at this?

This is affecting subscriptions renewals (see 1004992-zen), and could have bigger impact.

Thanks!

[2018-03-11 23:43] danass opened #395 "Fatal error: Uncaught Error: Call to a member function load() on /var/www/html/wp-content/plugins/woocommerce-services/classes/class-wc-connect-paypal-ec.php on line 233"
Starting from a brand new install, i just installed WooCommerce on a fresh wordpress and
activated paypal. It then crashed.

Notice: Undefined index: ppec_paypal in /var/www/html/wp-content/plugins/woocommerce-services/classes/class-wc-connect-paypal-ec.php on line 223

Notice: Trying to get property of non-object in /var/www/html/wp-content/plugins/woocommerce-services/classes/class-wc-connect-pa

[2018-03-12 15:00] LandiLuca opened #396 "PAYMENTSTATUS not checked"
In your function capture_payment don't check the var PAYMENTSTATUS that comes from PayPal response.
My scenario:
Checkout type: authorisation and after capture
All works fine, PayPal is well update in authorisation that in capture.
But I've take a look at function caputre_payment in class-wc-gateway-ppec-admind-handler.php because a my script check the post_metavalue _paypal_status (that you save

[2018-03-14 04:35] Luminus commented on #362
@bor0 do we have an ETA for a new release or a milestone for this to be added to? I see that the fix has been merged to master but a new version is yet to be deployed.

[2018-03-14 05:23] jkohlbach opened #397 "Only enqueue CSS on required pages"
Currently the front end CSS file is enqueued on all pages. This is overkill and results in another resource request for something that isn't actually used.

[2018-03-14 07:12] bor0 commented on #395
Not a PPEC issue it seems, linked it to a woocommerce-services one.

[2018-03-14 07:12] #395 closed

[2018-03-14 07:15] bor0 commented on #396
We do this check in `is_authorized_only`.

[2018-03-14 07:15] #396 closed

[2018-03-14 07:18] bor0 commented on #381
If these queries are slow I think there's a bigger problem with that instance. It's perfectly normal for a WordPress plugin to do queries against `wp_options`.

In any case, you can delete them as follows:

[code]

[2018-03-14 07:18] #381 closed

[2018-03-14 12:03] tommyshellberg commented on #358
@mattyza this is a pretty big deal for PPEC and is probably an easy win, can we take a look at this again?

[2018-03-14 13:03] mattyza commented on #358
@laurendavissmith

[2018-03-14 13:32] laurendavissmith commented on #358
@tommyshellberg Added to our triage queue to take a look at on Friday

[2018-03-16 15:26] joelwills commented on #386
Pinging @budzanowski as per the above, thanks!

[2018-03-19 15:36] johndcoy commented on #357
Can confirm, current master fixes the issue.

[2018-03-19 15:36] #357 closed

[2018-03-19 15:39] johndcoy commented on #380
@InoPlugs Thanks for the report. This issue has been fixed from #376  . Closing for now as update ( post today ) or current master fixed the issue.

[2018-03-19 15:39] #380 closed

[2018-03-19 16:29] roykho commented on #358
There is no definite ETA at this time however after discussion, this may not be too hard to tackle.

[2018-03-22 19:17] jshiroma commented on #356
I'm receiving this error at the moment. What were the changes in PayPal that were made to solve this issue?

[2018-03-22 19:32] jshiroma commented on #356
It managed to work. I just had to copy the redirect URL and paste it into a new tab. That did the trick.

[2018-03-24 07:51] madeincosmos opened #398 "Shipping name overridden with the name on PayPal account"
### Affected tickets

1021238-zen

### What I expected

To ship the product I purchased to someone else (i.e. as a gift). To do this, I entered a new shipping address on my PayPal buyer account:

![Screenshot](http://cld.wthms.co/SQDOwe+)
Screenshot: http://cld.wthms.co/SQDOwe

### What happened instead.

Both billing and shipping address in WooCommerce are the address I entered in PayPal - which

[2018-03-26 04:18] formosattic commented on #379
This could be because the sandbox account created is missing some **Funding** details.

I managed to get mine working with a sandbox account created with this [guide](https://developer.paypal.com/docs/classic/express-checkout/ec_test_your_integration/) which is now deprecated, so follow this instead https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/test-express

[2018-03-26 19:01] rmuthukrishnan commented on #390
I mentioned similar issue as part of: https://github.com/Automattic/woocommerce-services/issues/1335
But @marcinbot has said it worked for him. So, will this work in the latest release?

[2018-03-27 16:09] rmuthukrishnan commented on #390
Thank you Marcin. My issue was changing shipping method after we come out of paypal, which is different than this issue. I will enable Paypal Express Checkout again and test it.
________________________________
From: Marcin Bot <notifications@github.com>
Sent: Tuesday, March 27, 2018 4:33 AM
To: woocommerce/woocommerce-gateway-paypal-express-checkout
Cc: rmuthukrishnan; Mention
Subject: Re: [wooco

[2018-03-27 20:28] zwiesman31 commented on #362
@bor0: Following up with Luminus' comment. Is there a potential ETA for this yet release yet?

[2018-03-28 06:25] bor0 commented on #362
I released 1.5.3 today which contains this fix.

[2018-03-28 06:26] Luminus commented on #362
Thanks @bor0

[2018-03-29 03:54] formosattic commented on #369
Also, reported in 1049520-zen

[2018-03-29 14:01] jimmyjinkz opened #399 "Error after upgrade to WooCommerce 3.3.4 - Call to a member function get() on null"
Hi

I've updated WooCommerce from 3.2.6 to 3.3.4 and am now seeing the following error (from Fatal Error Notify plugin):

The error goes away if I revert to my previous version of WooCommerce (3.2.6).

Can anyone advise how I resolve this?

Thank you

[2018-03-30 15:16] keninbassart commented on #335
@roykho
Have another user reporting this on 1049913-zen Changed priority as well as this is impacting more users.

![PPScreen](http://cld.wthms.co/DOywFZ+)

Image Link: http://cld.wthms.co/DOywFZ

![NewOrderemail](http://cld.wthms.co/SzEAV1+)

Image Link: http://cld.wthms.co/SzEAV1

[2018-03-30 19:52] laurendavissmith commented on #335
@keninbassart Added to our triage queue, we'll likely take a look next week

[2018-04-02 21:46] #350 closed

[2018-04-02 21:48] #326 closed

[2018-04-03 09:15] bor0 commented on #361
@dechov in that case is this still an issue?

[2018-04-03 12:57] dechov commented on #361
@bor0 Nope — as long as actually saving the settings with incomplete credentials (and with `reroute_requests=no`) is expected to show a broken button, which I'm pretty sure it is, then this issue is fixed 👍

[2018-04-03 12:57] #361 closed

[2018-04-05 17:02] johndcoy opened #403 "Allow express checkout from checkout page."
Topic: https://wordpress.org/support/topic/paypal-express-checkout-redirects-to-paypal/#post-10148136

The " PayPal Express Checkout" payment option on the checkout page redirects to PayPal.com rather than allow the ability to checkout from the checkout page as it does for the product and cart pages.

![Screenshot](http://cld.wthms.co/kNQ5WS+)
Image Link: http://cld.wthms.co/kNQ5WS

Creating optio

[2018-04-05 20:16] roykho commented on #367
From what I remember way back when, many gateways cannot/will not process zero dollar values. Also I believe WC will not load gateways when it is zero dollars I think.

[2018-04-06 08:35] shadimanna opened #405 "Calling payment_gateways() on init action causes issues"
I am the author of the DHL plugin https://wordpress.org/plugins/dhl-for-woocommerce/ and the plugin makes a call to this function, "WC()->payment_gateways()->payment_gateways()", on "init" action.  This conflicts with WooCommerce PayPal Express plugin for some reason (but no other payment gateway plugin) which does not allow featured images to be added in any post type due to this.

Please suggest

[2018-04-06 13:26] roykho commented on #405
This should have already been fixed in 1.5.3 on this commit https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/commit/eb3edfb2e12e8dae8e2cde365537de1f2da3ed8a Are you on 1.5.3?

[2018-04-06 13:26] #405 closed

[2018-04-06 13:32] shadimanna commented on #405
Roy, thank you for the quick response.  I am only see v1.5.1 on WP.org and WC sites, has this been released to the public yet?

[2018-04-06 13:44] roykho commented on #405
It should be. But if not, you can download it from master. Or from the release branch.

[2018-04-06 14:24] bor0 commented on #399
Seems to have been fixed in a4beabf9.

[2018-04-10 00:04] roykho commented on #358
Closed in favor of #386

[2018-04-10 00:04] #358 closed

[2018-04-10 14:08] roykho commented on #367
Closing this for now. The work around is have at least a sign up fee of say $1.00 just so PP can process an amount.

[2018-04-10 14:10] roykho commented on #360
I am not able to reproduce this. I see this has been opened a long time ago. Please test against master and if issue persists, re-open the issue.

[2018-04-10 14:10] #360 closed

[2018-04-10 20:35] #386 closed

[2018-04-12 04:12] thenbrent commented on #367
PayPal will allow a billing agreement to be created even if no amount is charged immediately to that amount. This is done in a separate request to processing the first payment (with the [`CreateBillingAgreement` request type](https://developer.paypal.com/docs/classic/api/merchant/CreateBillingAgreement_API_Operation_NVP/)).

You are right, but Subscriptions overrides that so that and ensures gatew

[2018-04-12 09:04] madeincosmos commented on #356
Still reproducible with PPEC 1.5.3 & Woo 3.3.5, both in live and sandbox. I'm seeing the following errors in the console:

[code]

and then:

[code]

![Screenshot](http://cld.wthms.co/m9bBts+)
Screenshot: http://cld.wthms.co/m9bBts

Copy-pasting redirect URL into a new window solves it temporarily.

[2018-04-12 13:35] roykho commented on #367
So perhaps this isn't a bug but an enhancement? Unless PPEC did support fee trials before?

[2018-04-12 21:13] roykho commented on #335
Can you @FreshPhil or @keninbassart confirm that although it shows the discount being applied twice, the final total is actually correct? Or are you saying customers are being charged incorrectly due to discount applied twice?

[2018-04-12 23:25] thenbrent commented on #367
@roykho PPEC didn't support _Subscriptions_ before. But once it started to support Subscriptions, it needed to support free trials because there is no way for a gateway to say it does or doesn't support free trials atm. It's a requirement of any gateway that [supports `subscriptions`](https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/41fc9263d4cb0b15cd4101446b414fffdc

[2018-04-13 10:43] keninbassart commented on #335
@roykho The final total is charged correctly. The issue is that it's being added as a line item and then subtracted as a shipping discount.

[2018-04-13 13:35] jimmyjinkz commented on #399
Hello - I've updated the plugin the most recent version and I'm still getting the issue.

I've reviewed the fix and I don't understand what is required - sorry for my ignorance.

Do I need to edit the plugin's code? Or, will this be fixed in a future plugin update?

Thank you in advance!

[2018-04-19 07:43] hannahswain commented on #367
Another ticket where this is a problem: zd-1099376

[2018-05-02 05:39] hannahswain opened #407 "PayPal checkout flow is different on single product"
When the PayPal Express option `Checkout on Single Product` is enabled and the customer clicks "Pay with PayPal" on the single product page, the PayPal checkout flow is different than when clicking "Pay with PayPal" on the cart or checkout pages.

Customer is redirected to PayPal when using checkout on single product pages:

![Redirected to PayPal](http://cld.wthms.co/4rtu04+)
Full size: http://cl

[2018-05-02 13:13] zwiesman31 commented on #335
Another user with the same issue: 1113297-zen

[2018-05-02 20:05] mikeyarce opened #408 "Single Product: Quantity being duplicated due to multiple AJAX calls"
Problem:  When you add a product from the single-product page, the quantity is doubled in PayPal.

1. Go to a Single Product
2. Make sure your cart is empty
3. Click "Check out with PayPal"

I add a $5 product:
![screen shot 2018-05-02 at 12 45 25 pm](https://user-images.githubusercontent.com/3220162/39545746-fd329182-4e06-11e8-8144-d7b19dfc0c04.png)
PayPal shows me this:
![screen shot 2018-05-02

[2018-05-03 20:35] laurendavissmith commented on #408
@bor0 will you take a look at this, would be good to get this in before our release next week if necessary

[2018-05-04 08:35] bor0 commented on #408
@mikeyarce can you give #410 a try? Thanks!

[2018-05-04 12:28] amandasjackson commented on #408
Another report came in via chat. Moved to 1138351-zen

[2018-05-04 19:37] #408 closed

[2018-05-07 11:13] spraveenitpro opened #411 "PayPal express availability in the UK"
As per the Product page: https://woocommerce.com/products/woocommerce-gateway-paypal-express-checkout/ credit cards can be accepted only for US based customers: `Accept PayPal Credit (U.S. only): You get paid up front; customers get time to pay..`

Apparently, PayPal has made the express checkout available for UK customers now as per https://www.paypal.com/uk/webapps/mpp/get-started-express-checko

[2018-05-07 11:14] bor0 commented on #411
cc @laurendavissmith. This should be an enhancement, right?

[2018-05-08 11:52] hannahswain commented on #407
CC: @roykho as the janitor for this week

[2018-05-08 19:34] roykho commented on #407
@bor0 would you happen to know the reason for this?

[2018-05-09 07:14] bor0 commented on #407
I'd have to dig into it to recall, but as far as I remember I redirect to the cart screen with needed params.

Compare
https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/2fee573e35d4a24e7c21fcb7a69ab7e75ed68bb6/includes/class-wc-gateway-ppec-cart-handler.php#L140
and
https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/blob/2fee573e35d4a24e7c21fcb

[2018-05-09 14:07] roykho commented on #407
Ok after having looked more into this. Single product page is using the normal PPEC checkout and the cart page is using the "In-Context" PPEC checkout. There are logic specifically to use each method in different areas so that tells me it is not a bug but intentional. As far as why we did it this way is unknown. It would require significantly amount of changes to make them both work the same way t

[2018-05-09 22:00] laurendavissmith commented on #411
Yeah sounds like this would be an enhancement, just updated the label

[2018-05-09 22:08] laurendavissmith commented on #407
With this being an enhancement I don't think we should put any effort into this one yet

[2018-05-16 17:05] dechov opened #413 ""PayPal Express Checkout" option missing from checkout page when "PayPal Credit" is enabled"
On the checkout page, the "PayPal Express Checkout" payment option only appears if the "Enable PayPal Credit" setting is not checked.

_Edit:_ This only applies when Smart Payment Buttons are disabled.

Disabled | Enabled
-- | --
<img width="340" alt="screen shot 2018-05-16 at 11 01 36 am" src="https://user-images.githubusercontent.com/1867547/40131919-4e75789a-5909-11e8-8e07-3a66924bd6e1.png"> |

[2018-05-16 18:11] dechov commented on #413
@laurendavissmith Not by the current WIP, but yes (depending on scoping discussion at bottom of p7bbVw-2vt-p2 and possibly on unknown constraints), an in-context / smart button enhancement to the checkout page would – I believe – replace the gateways with a single gateway option which, when selected, would render the separate options dynamically.

[2018-05-16 20:47] slash1andy opened #414 "Added fees sent to PayPal as tax, not as line items (as happens in PP Standard)"
When you add a fee to the cart, and then checkout using PPEC, the fee is sent with the tax to PayPal, and can mess with accounting, etc.

This is sent as an item when using PP Standard, but not PPEC.

To replicate: I used this plugin to add the fee: https://woocommerce.com/products/payment-gateway-based-fees/

Then go through the checkout with logging enabled, and look at the logs to see how the f

[2018-05-17 11:39] WillBrubaker opened #415 "virtual/downloadable products cause checkout validation to fail"
ticket: 1158910-zen

1. A product is both virtual and downloadable
2. A terms and conditions page is configured
3. Add the product from step 1 to your cart (with no other products)
4. Go to the cart page
5. Press the PayPal button
6. login to PayPal as required, make the payment
7. You are redirected back to the site to check the 'terms and conditions' box, check it, press the pay for order button

[2018-05-17 12:16] WillBrubaker commented on #415
Seems you can skip step 2 and still reproduce

[2018-05-23 07:22] hannahswain opened #416 "Header image not showing at full width"
Somewhat related to this issue: https://github.com/woocommerce/woocommerce-gateway-paypal-express-checkout/issues/371

When you set the PayPal header image to an image of 750x90:

![PayPal Settings](http://cld.wthms.co/kBwXCt+)
Full size: http://cld.wthms.co/kBwXCt

It does show up on the PayPal screen, but cropped as if it were the 190x60 image instead.

![PayPal checkout](http://cld.wthms.co/xHF

[2018-05-28 09:05] lordspace opened #417 "Urgent: paypal-express-checkout fails to place an order: several billing fields are missing"
Here's the error message after returning from paypal.
![image](https://user-images.githubusercontent.com/137558/40606816-4b6b2770-626f-11e8-9165-e58e4570c08b.png)

Here's a video explanation
https://youtu.be/y0MICr4f_1c

[code]

[2018-05-28 12:53] lordspace commented on #417
I came up with this workaround to turn off the billing field requirements.
Is there a better way?

[code]

[2018-05-29 17:50] tommyshellberg commented on #417
Seeing this error as well:

http://cld.wthms.co/boFeYj

[2018-05-30 06:43] bor0 commented on #417
Steps to reproduce are to checkout with PayPal on the checkout screen without having entered any billing details.

[2018-05-30 07:31] tommyshellberg commented on #417
@bor0 PPEC usually skips the checkout so you can also test using the PayPal checkout button on the single product page or the Cart page.

[2018-05-30 07:37] bor0 commented on #417
@tommyshellberg and the account on PP has billing details entered?

[2018-05-30 07:40] tommyshellberg commented on #417
Yeah, here's the default address a Sandbox account comes with:

http://cld.wthms.co/MfRwWX

[2018-05-30 08:09] bor0 commented on #415
Seems like a duplicate of #417. Does it only happen for virtual products?

[2018-05-31 12:09] jobthomas commented on #316
Another request - 4012504-hc

[2018-05-31 20:04] WillBrubaker commented on #415
#417 may be a duplicate of this - it does not happen for products that aren't virtual/downloadable (at least not that I could cause).

[2018-06-01 03:08] carleyaa commented on #322
Any updates on this "session expired" issue? Does it have anything to do with the Avada theme?

[2018-06-01 10:10] pixelmorph commented on #256
i have this  issue too...

Billing Country is a required field.
Billing Street address is a required field.
Billing Suburb is a required field.
Billing State is a required field.
Billing Postcode is a required field.

[2018-06-01 13:41] dechov opened #418 "Image settings description tooltip is misaligned"
The custom image settings fields' tooltip shows up in one of multiple wrong places:

<img width="354" alt="screen shot 2018-06-01 at 9 38 47 am" src="https://user-images.githubusercontent.com/1867547/40843672-c21059be-657f-11e8-86a0-8e22262929ab.png">

<img width="660" alt="dmfnhrrgt9-3000x3000" src="https://user-images.githubusercontent.com/1867547/40843676-c49f56d0-657f-11e8-8747-e3208e514541.pn

[2018-06-01 21:35] dechov commented on #413
I believe this can be fixed by simply setting a different ID – `$this->id = 'ppec_paypal_credit';` – but if not, then we can just consider it fixed by the Smart Payment Buttons update.

[2018-06-05 07:19] carled commented on #417
This is affecting my site on 3.4.1 as well. I've used lordspace's code to bodge it for now, but this is really urgent so can it be fixed asap please?  Thanks for the code lordspace, much appreciated.

[2018-06-05 07:29] bor0 commented on #417
@tommyshellberg so in that case I was not able to reproduce using WC 3.4.0 and PPEC 1.5.5:
![untitled12345](https://user-images.githubusercontent.com/1620929/40961309-7ccff2a8-68a2-11e8-94c0-83732f029085.gif)

[2018-06-05 09:36] tommyshellberg commented on #417
@bor0 are you testing with a virtual product? This seems to be an issue with the Billing Address not being returned if there isn't a shipping address(in the case of checking out with a virtual product):

http://cld.wthms.co/uzJCCA

I can replicate this with virtual products but physical products are working.

[2018-06-05 09:46] bor0 commented on #417
I was able to reproduce with virtual products. The cause of this issue is #406.

[2018-06-05 09:47] bor0 commented on #415
OK I see. I updated the description of that other ticket to match and closing this one since we have discussion going on there.

[2018-06-05 09:47] #415 closed

[2018-06-05 09:53] bor0 commented on #417
@tommyshellberg can you check if #419 fixes the issue? Thank you!

[2018-06-08 11:41] hannahswain opened #420 "Button size: `responsive` is always greyed out"
In the PPEC settings, the normal button size dropdown includes a `responsive` option, which always seems to be greyed out. There isn't any mention of it in the description, either.

![Responsive option](http://cld.wthms.co/78N0T4+)
Full size: http://cld.wthms.co/78N0T4

Is this meant to be working, or should there be a description of when it should work?

[2018-06-08 11:44] hannahswain opened #421 "Button size: "medium" uses "small" dimensions"
When selecting the "medium" size for the PPEC buttons, the "small" size is used.

![Size selections](http://cld.wthms.co/azJ4vy+)
Full size: http://cld.wthms.co/azJ4vy

When switching to "small" from "medium", the image size stays the same.